In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

%matplotlib inline

In [2]:
df = pd.read_csv('/Users/maurits/Documents/Ironhack/week_05/gpw5+6/vanguard-ab-test/data/clean/dataset_TVC_MS.csv')

In [3]:
df.head(51)

,Unnamed: 0,client_id,level_1,reached_confirm,went_back,TD,SD,S1,S2,S3,...,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gendr,num_accts,bal,calls_6_mnth,logons_6_mnth,clnt_age_rounded,age_category
0,0,555,reached_confirm,True,NaN,NaN,NaN,NaN,NaN,NaN,...,3.0,46.0,29.5,U,2.0,25454.66,2.0,6.0,30.0,20-30
1,1,555,total_duration_minutes,NaN,NaN,2.633333,NaN,NaN,NaN,NaN,...,3.0,46.0,29.5,U,2.0,25454.66,2.0,6.0,30.0,20-30
2,2,555,step_1_duration,NaN,NaN,NaN,NaN,0.533333,NaN,NaN,...,3.0,46.0,29.5,U,2.0,25454.66,2.0,6.0,30.0,20-30
3,3,555,step_2_duration,NaN,NaN,NaN,NaN,NaN,1.650000,NaN,...,3.0,46.0,29.5,U,2.0,25454.66,2.0,6.0,30.0,20-30
4,4,555,went_back,NaN,False,NaN,NaN,NaN,NaN,NaN,...,3.0,46.0,29.5,U,2.0,25454.66,2.0,6.0,30.0,20-30
5,5,555,step_3_duration,NaN,NaN,NaN,NaN,NaN,NaN,0.333333,...,3.0,46.0,29.5,U,2.0,25454.66,2.0,6.0,30.0,20-30
6,6,555,start_duration,NaN,NaN,NaN,0.116667,NaN,NaN,NaN,...,3.0,46.0,29.5,U,2.0,25454.66,2.0,6.0,30.0,20-30
7,7,647,step_3_duration,NaN,NaN,NaN,NaN,NaN,NaN,2.716667,...,12.0,151.0,57.5,M,2.0,30525.80,0.0,4.0,58.0,50-60
8,8,647,went_back,NaN,False,NaN,NaN,NaN,NaN,NaN,...,12.0,151.0,57.5,M,2.0,30525.80,0.0,4.0,58.0,50-60
9,9,647,total_duration_minutes,NaN,NaN,6.283333,NaN,NaN,NaN,NaN,...,12.0,151.0,57.5,M,2.0,30525.80,0.0,4.0,58.0,50-60
10,10,647,reached_confirm,True,NaN,NaN,NaN,NaN,NaN,NaN,...,12.0,151.0,57.5,M,2.0,30525.80,0.0,4.0,58.0,50-60
11,11,647,step_1_duration,NaN,NaN,NaN,NaN,0.300000,NaN,NaN,...,12.0,151.0,57.5,M,2.0,30525.80,0.0,4.0,58.0,50-60
12,12,647,start_duration,NaN,NaN,NaN,0.116667,NaN,NaN,NaN,...,12.0,151.0,57.5,M,2.0,30525.80,0.0,4.0,58.0,50-60
13,13,647,step_2_duration,NaN,NaN,NaN,NaN,NaN,3.150000,NaN,...,12.0,151.0,57.5,M,2.0,30525.80,0.0,4.0,58.0,50-60
14,14,934,start_duration,NaN,NaN,NaN,2.366667,NaN,NaN,NaN,...,9.0,109.0,51.0,F,2.0,32522.88,0.0,3.0,51.0,50-60
15,15,934,went_back,NaN,False,NaN,NaN,NaN,NaN,NaN,...,9.0,109.0,51.0,F,2.0,32522.88,0.0,3.0,51.0,50-60
16,16,934,reached_confirm,False,NaN,NaN,NaN,NaN,NaN,NaN,...,9.0,109.0,51.0,F,2.0,32522.88,0.0,3.0,51.0,50-60
17,17,1028,step_3_duration,NaN,NaN,NaN,NaN,NaN,NaN,1.850000,...,12.0,145.0,36.0,M,3.0,103520.22,1.0,4.0,36.0,30-40
18,18,1028,went_back,NaN,True,NaN,NaN,NaN,NaN,NaN,...,12.0,145.0,36.0,M,3.0,103520.22,1.0,4.0,36.0,30-40
19,19,1028,backtrack_to_step_1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,12.0,145.0,36.0,M,3.0,103520.22,1.0,4.0,36.0,30-40
20,20,1028,backtrack_to_step_2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,12.0,145.0,36.0,M,3.0,103520.22,1.0,4.0,36.0,30-40
21,21,1028,start_duration,NaN,NaN,NaN,0.816667,NaN,NaN,NaN,...,12.0,145.0,36.0,M,3.0,103520.22,1.0,4.0,36.0,30-40
22,22,1028,step_1_duration,NaN,NaN,NaN,NaN,1.566667,NaN,NaN,...,12.0,145.0,36.0,M,3.0,103520.22,1.0,4.0,36.0,30-40
23,23,1028,reached_confirm,False,NaN,NaN,NaN,NaN,NaN,NaN,...,12.0,145.0,36.0,M,3.0,103520.22,1.0,4.0,36.0,30-40
24,24,1104,reached_confirm,False,NaN,NaN,NaN,NaN,NaN,NaN,...,5.0,66.0,48.0,U,3.0,154643.94,6.0,9.0,48.0,40-50
25,25,1104,went_back,NaN,False,NaN,NaN,NaN,NaN,NaN,...,5.0,66.0,48.0,U,3.0,154643.94,6.0,9.0,48.0,40-50
26,26,1186,went_back,NaN,False,NaN,NaN,NaN,NaN,NaN,...,8.0,99.0,22.0,U,2.0,31662.52,0.0,3.0,22.0,20-30
27,27,1186,reached_confirm,False,NaN,NaN,NaN,NaN,NaN,NaN,...,8.0,99.0,22.0,U,2.0,31662.52,0.0,3.0,22.0,20-30
28,28,1186,step_1_duration,NaN,NaN,NaN,NaN,0.183333,NaN,NaN,...,8.0,99.0,22.0,U,2.0,31662.52,0.0,3.0,22.0,20-30
29,29,1195,start_duration,NaN,NaN,NaN,0.550000,NaN,NaN,NaN,...,21.0,262.0,54.5,M,2.0,28457.96,2.0,5.0,54.0,50-60
30,30,1195,total_duration_minutes,NaN,NaN,4.083333,NaN,NaN,NaN,NaN,...,21.0,262.0,54.5,M,2.0,28457.96,2.0,5.0,54.0,50-60
31,31,1195,step_2_duration,NaN,NaN,NaN,NaN,NaN,0.516667,NaN,...,21.0,262.0,54.5,M,2.0,28457.96,2.0,5.0,54.0,50-60
32,32,1195,step_1_duration,NaN,NaN,NaN,NaN,1.633333,NaN,NaN,...,21.0,262.0,54.5,M,2.0,28457.96,2.0,5.0,54.0,50-60
33,33,1195,reached_confirm,True,NaN,NaN,NaN,NaN,NaN,NaN,...,21.0,262.0,54.5,M,2.0,28457.96,2.0,5.0,54.0,50-60
34,34,1195,step_3_duration,NaN,NaN,NaN,NaN,NaN,NaN,1.383333,...,21.0,262.0,54.5,M,2.0,28457.96,2.0,5.0,54.0,50-60
35,35,1195,went_back,NaN,False,NaN,NaN,NaN,NaN,NaN,...,21.0,262.0,54.5,M,2.0,28457.96,2.0,5.0,54.0,50-60
36,36,1197,went_back,NaN,True,NaN,NaN,NaN,NaN,NaN,...,7.0,85.0,28.5,U,5.0,177062.14,5.0,8.0,28.0,20-30
37,37,1197,step_1_duration,NaN,NaN,NaN,NaN,0.100000,NaN,NaN,...,7.0,85.0,28.5,U,5.0,177062.14,5.0,8.0,28.0,20-30
38,38,1197,total_duration_minutes,NaN,NaN,1.583333,NaN,NaN,NaN,NaN,...,7.0,85.0,28.5,U,5.0,177062.14,5.0,8.0,28.0,20-30
39,39,1197,backtrack_to_step_2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7.0,85.0,28.5,U,5.0,177062.14,5.0,8.0,28.0,20-30
40,40,1197,start_duration,NaN,NaN,NaN,0.066667,NaN,NaN,NaN,...,7.0,85.0,28.5,U,5.0,177062.14,5.0,8.0,28.0,20-30
41,41,1197,step_2_duration,NaN,NaN,NaN,NaN,NaN,0.950000,NaN,...,7.0,85.0,28.5,U,5.0,177062.14,5.0,8.0,28.0,20-30
42,42,1197,step_3_duration,NaN,NaN,NaN,NaN,NaN,NaN,0.466667,...,7.0,85.0,28.5,U,5.0,177062.14,5.0,8.0,28.0,20-30
43,43,1197,reached_confirm,True,NaN,NaN,NaN,NaN,NaN,NaN,...,7.0,85.0,28.5,U,5.0,177062.14,5.0,8.0,28.0,20-30
44,44,1336,reached_confirm,True,NaN,NaN,NaN,NaN,NaN,NaN,...,48.0,576.0,42.0,M,4.0,130537.18,6.0,9.0,42.0,40-50
45,45,1336,step_1_duration,NaN,NaN,NaN,NaN,0.433333,NaN,NaN,...,48.0,576.0,42.0,M,4.0,130537.18,6.0,9.0,42.0,40-50
46,46,1336,step_3_duration,NaN,NaN,NaN,NaN,NaN,NaN,1.816667,...,48.0,576.0,42.0,M,4.0,130537.18,6.0,9.0,42.0,40-50
47,47,1336,start_duration,NaN,NaN,NaN,0.416667,NaN,NaN,NaN,...,48.0,576.0,42.0,M,4.0,130537.18,6.0,9.0,42.0,40-50
48,48,1336,step_2_duration,NaN,NaN,NaN,NaN,NaN,0.850000,NaN,...,48.0,576.0,42.0,M,4.0,130537.18,6.0,9.0,42.0,40-50
49,49,1336,went_back,NaN,False,NaN,NaN,NaN,NaN,NaN,...,48.0,576.0,42.0,M,4.0,130537.18,6.0,9.0,42.0,40-50
50,50,1346,start_duration,NaN,NaN,NaN,2.650000,NaN,NaN,NaN,...,14.0,177.0,46.0,F,2.0,822512.91,3.0,6.0,46.0,40-50

In [4]:
df.columns

Index(['Unnamed: 0', 'client_id', 'level_1', 'reached_confirm', 'went_back',
       'TD', 'SD', 'S1', 'S2', 'S3', 'BS', 'BS1', 'BS2', 'Variation',
       'clnt_tenure_yr', 'clnt_tenure_mnth', 'clnt_age', 'gendr', 'num_accts',
       'bal', 'calls_6_mnth', 'logons_6_mnth', 'clnt_age_rounded',
       'age_category'],
      dtype='object')

In [5]:
df['bal'].nunique()

50312

In [6]:
df2['bal'].nunique()

NameError: name 'df2' is not defined

In [21]:
df_control = df[df['Variation'] == 'Control']
df_test = df[df['Variation'] == 'Test']

In [23]:
df_test.head(20)

,Unnamed: 0,client_id,level_1,reached_confirm,went_back,TD,SD,S1,S2,S3,...,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gendr,num_accts,bal,calls_6_mnth,logons_6_mnth,clnt_age_rounded,age_category
0,0,555,reached_confirm,True,NaN,NaN,NaN,NaN,NaN,NaN,...,3.0,46.0,29.5,U,2.0,25454.66,2.0,6.0,30.0,20-30
1,1,555,total_duration_minutes,NaN,NaN,2.633333,NaN,NaN,NaN,NaN,...,3.0,46.0,29.5,U,2.0,25454.66,2.0,6.0,30.0,20-30
2,2,555,step_1_duration,NaN,NaN,NaN,NaN,0.533333,NaN,NaN,...,3.0,46.0,29.5,U,2.0,25454.66,2.0,6.0,30.0,20-30
3,3,555,step_2_duration,NaN,NaN,NaN,NaN,NaN,1.65,NaN,...,3.0,46.0,29.5,U,2.0,25454.66,2.0,6.0,30.0,20-30
4,4,555,went_back,NaN,False,NaN,NaN,NaN,NaN,NaN,...,3.0,46.0,29.5,U,2.0,25454.66,2.0,6.0,30.0,20-30
5,5,555,step_3_duration,NaN,NaN,NaN,NaN,NaN,NaN,0.333333,...,3.0,46.0,29.5,U,2.0,25454.66,2.0,6.0,30.0,20-30
6,6,555,start_duration,NaN,NaN,NaN,0.116667,NaN,NaN,NaN,...,3.0,46.0,29.5,U,2.0,25454.66,2.0,6.0,30.0,20-30
7,7,647,step_3_duration,NaN,NaN,NaN,NaN,NaN,NaN,2.716667,...,12.0,151.0,57.5,M,2.0,30525.80,0.0,4.0,58.0,50-60
8,8,647,went_back,NaN,False,NaN,NaN,NaN,NaN,NaN,...,12.0,151.0,57.5,M,2.0,30525.80,0.0,4.0,58.0,50-60
9,9,647,total_duration_minutes,NaN,NaN,6.283333,NaN,NaN,NaN,NaN,...,12.0,151.0,57.5,M,2.0,30525.80,0.0,4.0,58.0,50-60
10,10,647,reached_confirm,True,NaN,NaN,NaN,NaN,NaN,NaN,...,12.0,151.0,57.5,M,2.0,30525.80,0.0,4.0,58.0,50-60
11,11,647,step_1_duration,NaN,NaN,NaN,NaN,0.300000,NaN,NaN,...,12.0,151.0,57.5,M,2.0,30525.80,0.0,4.0,58.0,50-60
12,12,647,start_duration,NaN,NaN,NaN,0.116667,NaN,NaN,NaN,...,12.0,151.0,57.5,M,2.0,30525.80,0.0,4.0,58.0,50-60
13,13,647,step_2_duration,NaN,NaN,NaN,NaN,NaN,3.15,NaN,...,12.0,151.0,57.5,M,2.0,30525.80,0.0,4.0,58.0,50-60
14,14,934,start_duration,NaN,NaN,NaN,2.366667,NaN,NaN,NaN,...,9.0,109.0,51.0,F,2.0,32522.88,0.0,3.0,51.0,50-60
15,15,934,went_back,NaN,False,NaN,NaN,NaN,NaN,NaN,...,9.0,109.0,51.0,F,2.0,32522.88,0.0,3.0,51.0,50-60
16,16,934,reached_confirm,False,NaN,NaN,NaN,NaN,NaN,NaN,...,9.0,109.0,51.0,F,2.0,32522.88,0.0,3.0,51.0,50-60
44,44,1336,reached_confirm,True,NaN,NaN,NaN,NaN,NaN,NaN,...,48.0,576.0,42.0,M,4.0,130537.18,6.0,9.0,42.0,40-50
45,45,1336,step_1_duration,NaN,NaN,NaN,NaN,0.433333,NaN,NaN,...,48.0,576.0,42.0,M,4.0,130537.18,6.0,9.0,42.0,40-50
46,46,1336,step_3_duration,NaN,NaN,NaN,NaN,NaN,NaN,1.816667,...,48.0,576.0,42.0,M,4.0,130537.18,6.0,9.0,42.0,40-50

In [25]:
# find age group populations 'total' for test and control
control_age_total = df_control.groupby(['age_category'])['client_id'].nunique() # grouped list by age
test_age_total = df_test.groupby(['age_category'])['client_id'].nunique() # grouped list by age
size_control = control_age_total.sum()
size_test = test_age_total.sum()
control_age_total

age_category
20-30       3724
30-40       4416
40-50       4026
50-60       5208
60-70       4305
over 70     1636
under 20     211
Name: client_id, dtype: int64

In [83]:
# find age group populations 'total' for test and control
control_age_start = df_control[['age_category','client_id', 'SD', 'bal']]
control_age_start = control_age_start.dropna(subset=['SD'])
control_age_start = control_age_start.drop_duplicates(subset=['client_id'])
control_age_start = control_age_start[control_age_start['SD'] != 0]
control_age_start = control_age_start.groupby(['age_category'])['SD'].count()

control_age_start.sum()

17416

In [29]:
control_age_s3 = df_control[['age_category','client_id', 'S3', 'bal']]
control_age_s3 = control_age_s3.dropna(subset=['S3'])
control_age_s3 = control_age_s3.drop_duplicates(subset=['client_id'])
control_age_s3 = control_age_s3[control_age_s3['S3'] != 0]
control_age_s3 = control_age_s3.groupby(['age_category'])['S3'].count()

control_age_s3

age_category
20-30       2424
30-40       2848
40-50       2614
50-60       3135
60-70       2360
over 70      683
under 20     146
Name: S3, dtype: int64

In [31]:
control_concat = pd.concat([control_age_total, control_age_start], axis=1, join='outer', ignore_index=True)
control_concat['reduction_total_to_start'] = (control_concat[1]/control_concat[0])-1
control_concat = pd.concat([control_concat, control_age_s3], axis=1, join='outer', ignore_index=True)
control_concat['reduction_start_to_confirm'] = (control_concat[3]/control_concat[1])-1
control_concat['reduction_total_to_confirm'] = (control_concat[3]/control_concat[0])-1
control_concat['conversion_rate%'] = ((control_concat['reduction_total_to_confirm'] +1)*100).round(2)
control_concat = control_concat.rename(columns={0: 'size_total', 1: 'size_start', 2: 'reduction_total_to_start', 3: 'size_confirm'})
control_concat.insert(0, 'group', 'control')
control_concat

,group,size_total,size_start,reduction_total_to_start,size_confirm,reduction_start_to_confirm,reduction_total_to_confirm,conversion_rate%
age_category,,,,,,,,
20-30,control,3724,2946,-0.208915,2424,-0.177189,-0.349087,65.09
30-40,control,4416,3443,-0.220335,2848,-0.172814,-0.355072,64.49
40-50,control,4026,3056,-0.240934,2614,-0.144634,-0.350720,64.93
50-60,control,5208,3798,-0.270737,3135,-0.174566,-0.398041,60.20
60-70,control,4305,2982,-0.307317,2360,-0.208585,-0.451800,54.82
over 70,control,1636,1020,-0.376528,683,-0.330392,-0.582518,41.75
under 20,control,211,171,-0.189573,146,-0.146199,-0.308057,69.19

In [33]:
test_age_start = df_test[['age_category','client_id', 'SD', 'bal']]
test_age_start = test_age_start.dropna(subset=['SD'])
test_age_start = test_age_start.drop_duplicates(subset=['client_id'])
test_age_start = test_age_start[test_age_start['SD'] != 0]
test_age_start = test_age_start.groupby(['age_category'])['SD'].count()

test_age_start

age_category
20-30       3646
30-40       4322
40-50       3794
50-60       4473
60-70       3567
over 70     1237
under 20     220
Name: SD, dtype: int64

In [35]:
test_age_s3 = df_test[['age_category','client_id', 'reached_confirm', 'bal']]
test_age_s3 = test_age_s3.dropna(subset=['reached_confirm'])
test_age_s3 = test_age_s3.drop_duplicates(subset=['client_id'])
test_age_s3 = test_age_s3[test_age_s3['reached_confirm'] != 0]
test_age_s3 = test_age_s3.groupby(['age_category'])['reached_confirm'].count()

test_age_s3

age_category
20-30       3188
30-40       3658
40-50       3220
50-60       3967
60-70       3227
over 70      944
under 20     203
Name: reached_confirm, dtype: int64

In [37]:
test_concat = pd.concat([test_age_total, test_age_start], axis=1, join='outer', ignore_index=True)
test_concat['reduction_total_to_start'] = (test_concat[1]/test_concat[0])-1
test_concat = pd.concat([test_concat, test_age_s3], axis=1, join='outer', ignore_index=True)
test_concat['reduction_start_to_confirm'] = (test_concat[3]/test_concat[1])-1
test_concat['reduction_total_to_confirm'] = (test_concat[3]/test_concat[0])-1
test_concat['conversion_rate%'] = ((test_concat['reduction_total_to_confirm'] +1)*100).round(2)
test_concat = test_concat.rename(columns={0: 'size_total', 1: 'size_start', 2: 'reduction_total_to_start', 3: 'size_confirm'})
test_concat.insert(0, 'group', 'test')
test_concat

,group,size_total,size_start,reduction_total_to_start,size_confirm,reduction_start_to_confirm,reduction_total_to_confirm,conversion_rate%
age_category,,,,,,,,
20-30,test,4335,3646,-0.158939,3188,-0.125617,-0.264591,73.54
30-40,test,5257,4322,-0.177858,3658,-0.153633,-0.304166,69.58
40-50,test,4641,3794,-0.182504,3220,-0.151292,-0.306184,69.38
50-60,test,5850,4473,-0.235385,3967,-0.113123,-0.321880,67.81
60-70,test,4822,3567,-0.260265,3227,-0.095318,-0.330776,66.92
over 70,test,1795,1237,-0.310864,944,-0.236863,-0.474095,52.59
under 20,test,261,220,-0.157088,203,-0.077273,-0.222222,77.78

In [39]:
concat_along_rows = pd.concat([control_concat, test_concat], axis=0, join='outer', ignore_index=False)
concat_along_rows = concat_along_rows.sort_index(ascending=True)
concat_along_rows
# concat_along_rows.to_csv('conversion_rates.csv', index=True)

,group,size_total,size_start,reduction_total_to_start,size_confirm,reduction_start_to_confirm,reduction_total_to_confirm,conversion_rate%
age_category,,,,,,,,
20-30,control,3724,2946,-0.208915,2424,-0.177189,-0.349087,65.09
20-30,test,4335,3646,-0.158939,3188,-0.125617,-0.264591,73.54
30-40,control,4416,3443,-0.220335,2848,-0.172814,-0.355072,64.49
30-40,test,5257,4322,-0.177858,3658,-0.153633,-0.304166,69.58
40-50,control,4026,3056,-0.240934,2614,-0.144634,-0.350720,64.93
40-50,test,4641,3794,-0.182504,3220,-0.151292,-0.306184,69.38
50-60,control,5208,3798,-0.270737,3135,-0.174566,-0.398041,60.20
50-60,test,5850,4473,-0.235385,3967,-0.113123,-0.321880,67.81
60-70,control,4305,2982,-0.307317,2360,-0.208585,-0.451800,54.82
60-70,test,4822,3567,-0.260265,3227,-0.095318,-0.330776,66.92
over 70,control,1636,1020,-0.376528,683,-0.330392,-0.582518,41.75
over 70,test,1795,1237,-0.310864,944,-0.236863,-0.474095,52.59
under 20,control,211,171,-0.189573,146,-0.146199,-0.308057,69.19
under 20,test,261,220,-0.157088,203,-0.077273,-0.222222,77.78

In [41]:
concat_along_rows_grouped = concat_along_rows.groupby(['group']).sum()
concat_along_rows_grouped = concat_along_rows_grouped.drop(columns=['reduction_total_to_start','reduction_start_to_confirm','reduction_total_to_confirm'])
concat_along_rows_grouped['reduction_total_to_start'] = (concat_along_rows_grouped['size_start']/concat_along_rows_grouped['size_total'])-1
concat_along_rows_grouped['reduction_start_to_confirm'] = (concat_along_rows_grouped['size_confirm']/concat_along_rows_grouped['size_start'])-1
concat_along_rows_grouped['reduction_total_to_confirm'] = (concat_along_rows_grouped['size_confirm']/concat_along_rows_grouped['size_total'])-1
concat_along_rows_grouped['conversion_rate%'] = ((concat_along_rows_grouped['reduction_total_to_confirm'] + 1)*100).round(2)
concat_along_rows_grouped

,size_total,size_start,size_confirm,conversion_rate%,reduction_total_to_start,reduction_start_to_confirm,reduction_total_to_confirm
group,,,,,,,
control,23526,17416,14210,60.40,-0.259713,-0.184084,-0.395987
test,26961,21259,18407,68.27,-0.211491,-0.134155,-0.317273

In [43]:
# concat_along_rows_grouped.to_csv('conversion_rates_conrolvtest.csv', index=True)

In [45]:
# find means in bal for all age groups

df = df.drop_duplicates(subset=['client_id'])
average_bal_grouped = df.groupby(['age_category'])['bal'].mean()
average_bal_grpdict = dict(average_bal_grouped.round(2))


#values
average_20_30 = average_bal_grpdict['20-30']
average_30_40 = average_bal_grpdict['30-40']
average_40_50 = average_bal_grpdict['40-50']
average_50_60 = average_bal_grpdict['50-60']
average_60_70 = average_bal_grpdict['60-70']
average_over70 = average_bal_grpdict['over 70']
average_bal_grpdict

{'20-30': 62181.79,
 '30-40': 94728.28,
 '40-50': 140106.53,
 '50-60': 179634.28,
 '60-70': 223085.06,
 'over 70': 255003.87,
 'under 20': 41334.51}

In [47]:
average_bal_grouped

age_category
20-30        62181.785300
30-40        94728.282486
40-50       140106.533952
50-60       179634.284343
60-70       223085.056905
over 70     255003.866520
under 20     41334.507182
Name: bal, dtype: float64

In [49]:
# make an outperformance chart
test_concat

,group,size_total,size_start,reduction_total_to_start,size_confirm,reduction_start_to_confirm,reduction_total_to_confirm,conversion_rate%
age_category,,,,,,,,
20-30,test,4335,3646,-0.158939,3188,-0.125617,-0.264591,73.54
30-40,test,5257,4322,-0.177858,3658,-0.153633,-0.304166,69.58
40-50,test,4641,3794,-0.182504,3220,-0.151292,-0.306184,69.38
50-60,test,5850,4473,-0.235385,3967,-0.113123,-0.321880,67.81
60-70,test,4822,3567,-0.260265,3227,-0.095318,-0.330776,66.92
over 70,test,1795,1237,-0.310864,944,-0.236863,-0.474095,52.59
under 20,test,261,220,-0.157088,203,-0.077273,-0.222222,77.78

In [51]:
test_perf = test_concat.drop(columns=['group', 'size_total', 'size_start', 'size_confirm'])
test_perf = test_perf.rename(columns={'reduction_total_to_start': 'reduction_total_to_start_TEST', 'reduction_start_to_confirm': 'reduction_start_to_confirm_TEST', 'reduction_total_to_confirm': 'reduction_total_to_confirm_TEST', 'conversion_rate': 'conversion_rate_TEST'})
test_perf

,reduction_total_to_start_TEST,reduction_start_to_confirm_TEST,reduction_total_to_confirm_TEST,conversion_rate%
age_category,,,,
20-30,-0.158939,-0.125617,-0.264591,73.54
30-40,-0.177858,-0.153633,-0.304166,69.58
40-50,-0.182504,-0.151292,-0.306184,69.38
50-60,-0.235385,-0.113123,-0.321880,67.81
60-70,-0.260265,-0.095318,-0.330776,66.92
over 70,-0.310864,-0.236863,-0.474095,52.59
under 20,-0.157088,-0.077273,-0.222222,77.78

In [53]:
control_perf = control_concat.drop(columns=['group', 'size_total', 'size_start', 'size_confirm'])
control_perf = control_perf.rename(columns={'reduction_total_to_start': 'reduction_total_to_start_CONTROL', 'reduction_start_to_confirm': 'reduction_start_to_confirm_CONTROL', 'reduction_total_to_confirm': 'reduction_total_to_confirm_CONTROL', 'conversion_rate': 'conversion_rate_CONTROL'})
control_perf

,reduction_total_to_start_CONTROL,reduction_start_to_confirm_CONTROL,reduction_total_to_confirm_CONTROL,conversion_rate%
age_category,,,,
20-30,-0.208915,-0.177189,-0.349087,65.09
30-40,-0.220335,-0.172814,-0.355072,64.49
40-50,-0.240934,-0.144634,-0.350720,64.93
50-60,-0.270737,-0.174566,-0.398041,60.20
60-70,-0.307317,-0.208585,-0.451800,54.82
over 70,-0.376528,-0.330392,-0.582518,41.75
under 20,-0.189573,-0.146199,-0.308057,69.19

In [55]:
perf_concat = pd.concat([control_perf, test_perf], axis=1, join='outer', ignore_index=False)
perf_concat

,reduction_total_to_start_CONTROL,reduction_start_to_confirm_CONTROL,reduction_total_to_confirm_CONTROL,conversion_rate%,reduction_total_to_start_TEST,reduction_start_to_confirm_TEST,reduction_total_to_confirm_TEST,conversion_rate%
age_category,,,,,,,,
20-30,-0.208915,-0.177189,-0.349087,65.09,-0.158939,-0.125617,-0.264591,73.54
30-40,-0.220335,-0.172814,-0.355072,64.49,-0.177858,-0.153633,-0.304166,69.58
40-50,-0.240934,-0.144634,-0.350720,64.93,-0.182504,-0.151292,-0.306184,69.38
50-60,-0.270737,-0.174566,-0.398041,60.20,-0.235385,-0.113123,-0.321880,67.81
60-70,-0.307317,-0.208585,-0.451800,54.82,-0.260265,-0.095318,-0.330776,66.92
over 70,-0.376528,-0.330392,-0.582518,41.75,-0.310864,-0.236863,-0.474095,52.59
under 20,-0.189573,-0.146199,-0.308057,69.19,-0.157088,-0.077273,-0.222222,77.78

In [57]:
perf_concat['rel_perf_total_to_start'] = ((perf_concat['reduction_total_to_start_TEST']+1)/(perf_concat['reduction_total_to_start_CONTROL']+1)-1) # OK
perf_concat['rel_perf_start_to_confirm'] = ((perf_concat['reduction_start_to_confirm_TEST']+1)/(perf_concat['reduction_start_to_confirm_CONTROL']+1)-1) # OK
perf_concat['rel_perf_total_to_confirm'] = ((perf_concat['reduction_total_to_confirm_TEST']+1)/(perf_concat['reduction_total_to_confirm_CONTROL']+1)-1) # OK
perf_concat_dropped = perf_concat.drop(columns=['reduction_total_to_start_CONTROL', 'reduction_start_to_confirm_CONTROL', 'reduction_total_to_confirm_CONTROL', 'conversion_rate_CONTROL', 'reduction_total_to_start_TEST', 'reduction_start_to_confirm_TEST', 'reduction_total_to_confirm_TEST', 'conversion_rate_TEST'])
rel_perf_testgrtocontrolgr = perf_concat_dropped
rel_perf_testgrtocontrolgr

KeyError: "['reduction_total_to_start_CONTROL' 'reduction_start_to_confirm_CONTROL'\n 'reduction_total_to_confirm_CONTROL' 'conversion_rate_CONTROL'\n 'reduction_total_to_start_TEST' 'reduction_start_to_confirm_TEST'\n 'reduction_total_to_confirm_TEST' 'conversion_rate_TEST'] not found in axis"

 -- Tables we can use --

In [189]:
# Table overview conversion rate per age group

concat_along_rows2 = concat_along_rows.drop(columns=['reduction_total_to_start', 'reduction_start_to_confirm', 'reduction_total_to_confirm'])
concat_along_rows2

                group  size_total  size_start  size_confirm  conversion_rate%
age_category
20-30         control        3724        2946          2424             65.09
20-30            test        4335        3646          3188             73.54
30-40         control        4416        3443          2848             64.49
30-40            test        5257        4322          3658             69.58
40-50         control        4026        3056          2614             64.93
40-50            test        4641        3794          3220             69.38
50-60         control        5208        3798          3135             60.20
50-60            test        5850        4473          3967             67.81
60-70         control        4305        2982          2360             54.82
60-70            test        4822        3567          3227             66.92
over 70       control        1636        1020           683             41.75
over 70          test        1795        1237           944             52.59
under 20      control         211         171           146             69.19
under 20         test         261         220           203             77.78

In [197]:
# Comparison between control and test and the improvement rate

pivot_conversion = concat_along_rows2.pivot_table(index='age_category', columns='group', values='conversion_rate%')
pivot_conversion['improvement_rate%'] = (pivot_conversion['test'] / pivot_conversion['control']) - 1
pivot_conversion

group         control   test  improvement_rate%
age_category
20-30           65.09  73.54           0.129820
30-40           64.49  69.58           0.078927
40-50           64.93  69.38           0.068535
50-60           60.20  67.81           0.126412
60-70           54.82  66.92           0.220722
over 70         41.75  52.59           0.259641
under 20        69.19  77.78           0.124151

In [195]:
# Not sure to use this one, too much data

pivot_table2 = concat_along_rows2.pivot_table(index='age_category', columns='group', values=['size_total', 'size_confirm', 'conversion_rate%'])
pivot_table2

             conversion_rate%        size_confirm         size_total
group                 control   test      control    test    control    test
age_category
20-30                   65.09  73.54       2424.0  3188.0     3724.0  4335.0
30-40                   64.49  69.58       2848.0  3658.0     4416.0  5257.0
40-50                   64.93  69.38       2614.0  3220.0     4026.0  4641.0
50-60                   60.20  67.81       3135.0  3967.0     5208.0  5850.0
60-70                   54.82  66.92       2360.0  3227.0     4305.0  4822.0
over 70                 41.75  52.59        683.0   944.0     1636.0  1795.0
under 20                69.19  77.78        146.0   203.0      211.0   261.0

In [73]:
# Table overview conversion rate test and control

concat_along_rows2 = concat_along_rows2.groupby(['group']).sum()
# concat_along_rows2 = concat_along_rows2.drop(columns=['conversion_rate%'])
concat_along_rows2['conversion_rate%'] = concat_along_rows2['size_confirm'] / concat_along_rows2['size_total']
concat_along_rows2

         size_total  size_start  size_confirm  conversion_rate%
group
control       23526       17416         14210          0.604013
test          26961       21259         18407          0.682727

In [199]:
# Error rate info

wentback_test = df_test[df_test['went_back'] == True]
wentback_control = df_control[df_control['went_back'] == True]
error_rate_test = (wentback_test['went_back'].count() / test_age_start.sum()).round(4)*100
error_rate_control = ((wentback_control['went_back'].count() / control_age_start.sum())*100).round(2)
relperf_errorrate = ((error_rate_control / error_rate_test)-1).round(4)*100

print("Findings: \n")
print(f"The error rate of the test group was {error_rate_test}%, while the error rate of the control group was {error_rate_control}%.")
print(f"The improvement of error rate in the test group was {relperf_errorrate}%.")

Findings:

The error rate of the test group was 25.69%, while the error rate of the control group was 31.37%.
The improvement of error rate in the test group was 22.11%.

In [113]:
df_test.columns

Index(['Unnamed: 0', 'client_id', 'level_1', 'reached_confirm', 'went_back',
       'TD', 'SD', 'S1', 'S2', 'S3', 'BS', 'BS1', 'BS2', 'Variation',
       'clnt_tenure_yr', 'clnt_tenure_mnth', 'clnt_age', 'gendr', 'num_accts',
       'bal', 'calls_6_mnth', 'logons_6_mnth', 'clnt_age_rounded',
       'age_category'],
      dtype='object')

In [203]:
# Error rate: which step caused most errors? Investigating backtracking time Step1 (BS1)

population_test_whostarted = test_age_start.sum()
population_control_whostarted = control_age_start.sum()
adjustment = population_test_whostarted / population_control_whostarted # have to adjust the number since the test group is bigger and spends therefore already more time on backtracking step 1.
total_backtrackingstep1_test = (df_test['BS1'].sum()).round(2)
total_backtrackingstep1_test_count = df_test['BS1'].count()
total_backtrackingstep1_control = df_control['BS1'].sum()
total_backtrackingstep1_control_count = (df_control['BS1'].count()*adjustment).round(0)
total_backtrackingstep1_control_adj = (total_backtrackingstep1_control * adjustment).round()
relperf_bs1 = (((total_backtrackingstep1_control_adj / total_backtrackingstep1_test)-1)*100).round(2)
relperf_bs1count = (((total_backtrackingstep1_control_count / total_backtrackingstep1_test_count)-1)*100).round(2)

print("Findings: \n")
print(f"Total backtracking time to STEP1 for the test group is {total_backtrackingstep1_test} minutes, with a count of {total_backtrackingstep1_test_count} times.")
print(f"Total adjusted backtracking time to STEP1 for the control group is {total_backtrackingstep1_control_adj} minutes, with an adjusted count of {total_backtrackingstep1_control_count} times.")
print(f"The improvement of backtracking total time step 1 in the test group was {relperf_bs1}%.")
print(f"The improvement of backtracking total occurences in step 1 in the test group was {relperf_bs1count}%.")

Findings:

Total backtracking time to STEP1 for the test group is 2627.2 minutes, with a count of 4331 times.
Total adjusted backtracking time to STEP1 for the control group is 2944.0 minutes, with an adjusted count of 4805.0 times.
The improvement of backtracking total time step 1 in the test group was 12.06%.
The improvement of backtracking total occurences in step 1 in the test group was 10.94%.

In [201]:
# Error rate: which step caused most errors? Investigating backtracking time Step1 (BS2)

population_test_whostarted = test_age_start.sum()
population_control_whostarted = control_age_start.sum()
adjustment2 = population_test_whostarted / population_control_whostarted # have to adjust the number since the test group is bigger and spends therefore already more time on backtracking step 1.
total_backtrackingstep2_test = (df_test['BS2'].sum()).round(2)
total_backtrackingstep2_test_count = df_test['BS2'].count()
total_backtrackingstep2_control = df_control['BS2'].sum()
total_backtrackingstep2_control_count = (df_control['BS2'].count()*adjustment2).round(0)
total_backtrackingstep2_control_adj = (total_backtrackingstep2_control * adjustment2).round()
relperf_bs2 = (((total_backtrackingstep2_control_adj / total_backtrackingstep2_test)-1)*100).round(2)
relperf_bs2count = (((total_backtrackingstep2_control_count / total_backtrackingstep2_test_count)-1)*100).round(2)

print("Findings: \n")
print(f"Total backtracking time to STEP2 for the test group is {total_backtrackingstep2_test} minutes, with a count of {total_backtrackingstep2_test_count} times.")
print(f"Total adjusted backtracking time to STEP2 for the control group is {total_backtrackingstep2_control_adj} minutes, with an adjusted count of {total_backtrackingstep2_control_count} times.")
print(f"The improvement of backtracking total time step 2 in the test group was {relperf_bs2}%.")
print(f"The improvement of backtracking total occurences in step 2 in the test group was {relperf_bs2count}%.")

Findings:

Total backtracking time to STEP2 for the test group is 2102.53 minutes, with a count of 2554 times.
Total adjusted backtracking time to STEP2 for the control group is 2616.0 minutes, with an adjusted count of 3716.0 times.
The improvement of backtracking total time step 2 in the test group was 24.42%.
The improvement of backtracking total occurences in step 2 in the test group was 45.5%.

In [173]:
# Error rate: which step caused most errors? Comparing BS1 and BS2

# time
a = total_backtrackingstep1_test - total_backtrackingstep2_test
b = total_backtrackingstep1_control_adj - total_backtrackingstep2_control_adj

# count
c = total_backtrackingstep1_test_count - total_backtrackingstep2_test_count
d = total_backtrackingstep1_control_count - total_backtrackingstep2_control_count

In [177]:
a

524.6699999999996

In [179]:
b

328.0

In [181]:
c

1777

In [183]:
d

1089.0