In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

%matplotlib inline

In [2]:
df1 = pd.read_csv("/Users/maurits/Documents/Ironhack/week_05/gpw5+6/vanguard-ab-test/data/clean/web_grouped_pivoted.csv")
df2 = pd.read_csv("/Users/maurits/Documents/Ironhack/week_05/gpw5+6/vanguard-ab-test/data/raw/df2_client.csv")

/var/folders/3v/mdv6bm7j6n99zg9hqgt9n70r0000gn/T/ipykernel_23558/2318950917.py:2: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df2 = pd.read_csv("/Users/maurits/Documents/Ironhack/week_05/gpw5+6/vanguard-ab-test/data/raw/df2_client.csv")

In [3]:
df1.head()

,Unnamed: 0,client_id,visitor_id,visit_id,start,step_1,step_2,step_3,confirm
0,0,169,201385055_71273495308,749567106_99161211863_557568,2017-04-12 20:19:36,2017-04-12 20:19:45,2017-04-12 20:20:31,2017-04-12 20:22:05,2017-04-12 20:23:09
1,1,336,64757908_3400128256,649044751_80905125055_554468,2017-06-01 07:42:43,NaN,NaN,NaN,NaN
2,2,546,475037402_89828530214,731811517_9330176838_94847,2017-06-17 10:03:29,2017-06-17 10:03:39,2017-06-17 10:03:52,2017-06-17 10:05:19,2017-06-17 10:05:42
3,3,555,402506806_56087378777,637149525_38041617439_716659,2017-04-15 12:57:56,2017-04-15 12:58:03,2017-04-15 12:58:35,2017-04-15 13:00:14,2017-04-15 13:00:34
4,4,647,66758770_53988066587,40369564_40101682850_311847,2017-04-12 15:41:28,2017-04-12 15:41:35,2017-04-12 15:41:53,2017-04-12 15:45:02,2017-04-12 15:47:45

In [4]:
df1_sorted = df1.sort_values(['client_id'])
df1.head()

,Unnamed: 0,client_id,visitor_id,visit_id,start,step_1,step_2,step_3,confirm
0,0,169,201385055_71273495308,749567106_99161211863_557568,2017-04-12 20:19:36,2017-04-12 20:19:45,2017-04-12 20:20:31,2017-04-12 20:22:05,2017-04-12 20:23:09
1,1,336,64757908_3400128256,649044751_80905125055_554468,2017-06-01 07:42:43,NaN,NaN,NaN,NaN
2,2,546,475037402_89828530214,731811517_9330176838_94847,2017-06-17 10:03:29,2017-06-17 10:03:39,2017-06-17 10:03:52,2017-06-17 10:05:19,2017-06-17 10:05:42
3,3,555,402506806_56087378777,637149525_38041617439_716659,2017-04-15 12:57:56,2017-04-15 12:58:03,2017-04-15 12:58:35,2017-04-15 13:00:14,2017-04-15 13:00:34
4,4,647,66758770_53988066587,40369564_40101682850_311847,2017-04-12 15:41:28,2017-04-12 15:41:35,2017-04-12 15:41:53,2017-04-12 15:45:02,2017-04-12 15:47:45

In [5]:
df2.head()

,client_id,Variation,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gendr,num_accts,bal,calls_6_mnth,logons_6_mnth,clnt_age_rounded,age_category
0,9988021,Test,5.0,64.0,79.0,U,2.0,189023.86,1.0,4.0,79.0,over 70
1,8320017,Test,22.0,274.0,34.5,M,2.0,36001.90,5.0,8.0,34.0,30-40
2,4033851,Control,12.0,149.0,63.5,M,2.0,142642.26,5.0,8.0,64.0,60-70
3,1982004,Test,6.0,80.0,44.5,U,2.0,30231.76,1.0,4.0,44.0,40-50
4,9294070,Control,5.0,70.0,29.0,U,2.0,34254.54,0.0,3.0,29.0,20-30

In [6]:
df3 = pd.merge(df1, df2, on='client_id', how='left')

In [7]:
df3_sorted = df3.sort_values(['client_id'])

In [8]:
df3_sorted.head(5)

,Unnamed: 0,client_id,visitor_id,visit_id,start,step_1,step_2,step_3,confirm,Variation,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gendr,num_accts,bal,calls_6_mnth,logons_6_mnth,clnt_age_rounded,age_category
0,0,169,201385055_71273495308,749567106_99161211863_557568,2017-04-12 20:19:36,2017-04-12 20:19:45,2017-04-12 20:20:31,2017-04-12 20:22:05,2017-04-12 20:23:09,NaN,21.0,262.0,47.5,M,2.0,501570.72,4.0,4.0,48.0,40-50
1,1,336,64757908_3400128256,649044751_80905125055_554468,2017-06-01 07:42:43,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,546,475037402_89828530214,731811517_9330176838_94847,2017-06-17 10:03:29,2017-06-17 10:03:39,2017-06-17 10:03:52,2017-06-17 10:05:19,2017-06-17 10:05:42,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,555,402506806_56087378777,637149525_38041617439_716659,2017-04-15 12:57:56,2017-04-15 12:58:03,2017-04-15 12:58:35,2017-04-15 13:00:14,2017-04-15 13:00:34,Test,3.0,46.0,29.5,U,2.0,25454.66,2.0,6.0,30.0,20-30
4,4,647,66758770_53988066587,40369564_40101682850_311847,2017-04-12 15:41:28,2017-04-12 15:41:35,2017-04-12 15:41:53,2017-04-12 15:45:02,2017-04-12 15:47:45,Test,12.0,151.0,57.5,M,2.0,30525.80,0.0,4.0,58.0,50-60

In [9]:
df3_sorted.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 118980 entries, 0 to 118979
Data columns (total 20 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Unnamed: 0        118980 non-null  int64
 1   client_id         118980 non-null  int64
 2   visitor_id        118980 non-null  object
 3   visit_id          118980 non-null  object
 4   start             118980 non-null  object
 5   step_1            104398 non-null  object
 6   step_2            96382 non-null   object
 7   step_3            90428 non-null   object
 8   confirm           80085 non-null   object
 9   Variation         50076 non-null   object
 10  clnt_tenure_yr    70000 non-null   float64
 11  clnt_tenure_mnth  70000 non-null   float64
 12  clnt_age          69999 non-null   float64
 13  gendr             70000 non-null   object
 14  num_accts         70000 non-null   float64
 15  bal               70000 non-null   float64
 16  calls_6_mnth      70000 non-null   float64
 17  logons_6_mnth     70000 non-null   float64
 18  clnt_age_rounded  69999 non-null   float64
 19  age_category      69999 non-null   object
dtypes: float64(8), int64(2), object(10)
memory usage: 18.2+ MB

In [10]:
df_dropped_multiple = df3_sorted.dropna(subset=['Variation'])

In [11]:
df_dropped_multiple.info()

<class 'pandas.core.frame.DataFrame'>
Index: 50076 entries, 3 to 118977
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        50076 non-null  int64
 1   client_id         50076 non-null  int64
 2   visitor_id        50076 non-null  object
 3   visit_id          50076 non-null  object
 4   start             50076 non-null  object
 5   step_1            44283 non-null  object
 6   step_2            40762 non-null  object
 7   step_3            38126 non-null  object
 8   confirm           33730 non-null  object
 9   Variation         50076 non-null  object
 10  clnt_tenure_yr    50064 non-null  float64
 11  clnt_tenure_mnth  50064 non-null  float64
 12  clnt_age          50063 non-null  float64
 13  gendr             50064 non-null  object
 14  num_accts         50064 non-null  float64
 15  bal               50064 non-null  float64
 16  calls_6_mnth      50064 non-null  float64
 17  logons_6_mnth     50064 non-null  float64
 18  clnt_age_rounded  50063 non-null  float64
 19  age_category      50063 non-null  object
dtypes: float64(8), int64(2), object(10)
memory usage: 8.0+ MB

In [12]:
# df_dropped_multiple = df_sorted.dropna(subset=['Variation'])

# # df_dropped_multiple.to_csv('combined_20240904_nonpivot_excl-NaN.csv')

In [13]:
df = df_dropped_multiple
df.head(20)

,Unnamed: 0,client_id,visitor_id,visit_id,start,step_1,step_2,step_3,confirm,Variation,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gendr,num_accts,bal,calls_6_mnth,logons_6_mnth,clnt_age_rounded,age_category
3,3,555,402506806_56087378777,637149525_38041617439_716659,2017-04-15 12:57:56,2017-04-15 12:58:03,2017-04-15 12:58:35,2017-04-15 13:00:14,2017-04-15 13:00:34,Test,3.0,46.0,29.5,U,2.0,25454.66,2.0,6.0,30.0,20-30
4,4,647,66758770_53988066587,40369564_40101682850_311847,2017-04-12 15:41:28,2017-04-12 15:41:35,2017-04-12 15:41:53,2017-04-12 15:45:02,2017-04-12 15:47:45,Test,12.0,151.0,57.5,M,2.0,30525.80,0.0,4.0,58.0,50-60
9,9,934,810392784_45004760546,7076463_57954418406_971348,2017-04-18 02:38:52,NaN,NaN,NaN,NaN,Test,9.0,109.0,51.0,F,2.0,32522.88,0.0,3.0,51.0,50-60
10,10,1028,42237450_62128060588,557292053_87239438319_391157,2017-04-08 18:51:28,2017-04-08 19:00:26,2017-04-08 19:00:17,2017-04-08 18:58:04,NaN,Control,12.0,145.0,36.0,M,3.0,103520.22,1.0,4.0,36.0,30-40
12,12,1104,194240915_18158000533,643221571_99977972121_69283,2017-06-20 22:31:33,NaN,NaN,NaN,NaN,Control,5.0,66.0,48.0,U,3.0,154643.94,6.0,9.0,48.0,40-50
13,13,1186,446844663_31615102958,795373564_99931517312_810896,2017-04-08 18:05:02,2017-04-08 18:05:13,2017-04-08 18:05:24,NaN,NaN,Control,8.0,99.0,22.0,U,2.0,31662.52,0.0,3.0,22.0,20-30
14,14,1195,766842522_69992551638,393817425_39015278493_996341,2017-04-05 20:15:26,2017-04-05 20:15:59,2017-04-05 20:17:37,2017-04-05 20:18:08,2017-04-05 20:19:31,Control,21.0,262.0,54.5,M,2.0,28457.96,2.0,5.0,54.0,50-60
15,15,1197,753759429_54481946928,71862471_21202285428_848395,2017-04-01 17:16:24,2017-04-01 17:16:28,2017-04-01 17:17:36,2017-04-01 17:17:42,2017-04-01 17:17:59,Control,7.0,85.0,28.5,U,5.0,177062.14,5.0,8.0,28.0,20-30
17,17,1336,920624746_32603333901,583743392_96265099036_939815,2017-05-08 06:05:12,2017-05-08 06:05:37,2017-05-08 06:06:03,2017-05-08 06:06:54,2017-05-08 08:23:00,Test,48.0,576.0,42.0,M,4.0,130537.18,6.0,9.0,42.0,40-50
18,18,1346,123474046_4204671056,27144337_83739845380_214282,2017-06-06 18:28:40,2017-06-06 18:23:54,2017-06-06 18:24:01,2017-06-06 18:28:43,NaN,Test,14.0,177.0,46.0,F,2.0,822512.91,3.0,6.0,46.0,40-50
20,20,1368,366307863_19014662045,784065271_45379483290_309335,2017-04-09 21:58:28,NaN,NaN,NaN,NaN,Control,5.0,60.0,45.0,F,3.0,61956.25,6.0,9.0,45.0,40-50
23,23,1516,182314299_63168583136,481123290_95510977345_707323,2017-04-06 22:14:24,2017-04-06 22:15:20,2017-04-06 22:15:55,2017-04-06 22:26:02,2017-04-06 22:30:18,Test,12.0,150.0,58.5,F,2.0,25408.39,5.0,8.0,58.0,50-60
27,27,1643,910842861_51062379179,753205700_16851596206_134483,2017-06-10 07:49:27,2017-06-10 07:50:27,2017-06-10 07:50:43,2017-06-10 08:00:25,2017-06-10 08:00:55,Test,19.0,229.0,55.0,M,2.0,81731.39,0.0,3.0,55.0,50-60
31,31,1755,230596682_29327090182,690855460_62242406510_53318,2017-04-02 11:50:21,2017-04-02 11:52:22,2017-04-02 11:52:41,2017-04-02 11:53:08,2017-04-02 11:54:04,Test,9.0,110.0,46.5,M,2.0,179775.22,0.0,3.0,46.0,40-50
32,32,1836,619440135_40983729273,624455994_87386716654_950064,2017-04-07 09:36:07,2017-04-07 09:36:21,2017-04-05 18:48:27,2017-04-05 18:48:54,2017-04-05 18:53:03,Test,13.0,157.0,51.5,M,2.0,826232.62,4.0,7.0,52.0,50-60
34,34,1936,883992205_24100452548,943469853_76229226125_839996,2017-03-29 12:54:05,2017-03-29 12:54:13,2017-03-29 12:55:28,2017-03-29 12:55:39,2017-03-29 12:55:56,Test,5.0,63.0,26.5,M,2.0,52447.90,6.0,9.0,26.0,20-30
38,38,2439,607208067_70160939111,848231744_22569944243_37711,2017-03-23 14:59:23,NaN,NaN,NaN,NaN,Control,11.0,142.0,56.0,M,2.0,504142.55,0.0,3.0,56.0,50-60
40,40,2581,770616558_80928163524,182925466_27021409208_83502,2017-04-09 06:11:41,NaN,NaN,NaN,NaN,Control,4.0,58.0,22.0,M,2.0,24976.79,1.0,4.0,22.0,20-30
42,42,2720,560535515_73647480772,565429886_73206140156_730955,2017-04-03 16:08:23,NaN,NaN,NaN,NaN,Test,9.0,117.0,25.0,M,3.0,81536.00,6.0,9.0,25.0,20-30
44,44,3232,48719955_20160099584,842251962_41107309625_824575,2017-06-15 12:14:40,2017-06-15 12:14:54,2017-06-15 12:15:07,2017-06-15 12:19:33,2017-06-15 12:20:00,Test,9.0,116.0,52.0,F,2.0,45617.96,3.0,6.0,52.0,50-60

In [14]:
cols_to_convert = ['start', 'step_1', 'step_2', 'step_3', 'confirm']
df[cols_to_convert] = df[cols_to_convert].apply(pd.to_datetime)

/var/folders/3v/mdv6bm7j6n99zg9hqgt9n70r0000gn/T/ipykernel_23558/3297832180.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[cols_to_convert] = df[cols_to_convert].apply(pd.to_datetime)

In [15]:
df['full_process'] = df['confirm']-df['start']
df['start_to_step1'] = df['step_1']-df['start']
df['step1_to_step2'] = df['step_2']-df['step_1']
df['step2_to_step3'] = df['step_3']-df['step_2']
df['step3_to_confirm'] = df['confirm']-df['step_3']
df

/var/folders/3v/mdv6bm7j6n99zg9hqgt9n70r0000gn/T/ipykernel_23558/1486850193.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['full_process'] = df['confirm']-df['start']
/var/folders/3v/mdv6bm7j6n99zg9hqgt9n70r0000gn/T/ipykernel_23558/1486850193.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['start_to_step1'] = df['step_1']-df['start']
/var/folders/3v/mdv6bm7j6n99zg9hqgt9n70r0000gn/T/ipykernel_23558/1486850193.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['step1_to_step2'] = df['step_2']-df['step_1']
/var/folders/3v/mdv6bm7j6n99zg9hqgt9n70r0000gn/T/ipykernel_23558/1486850193.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['step2_to_step3'] = df['step_3']-df['step_2']
/var/folders/3v/mdv6bm7j6n99zg9hqgt9n70r0000gn/T/ipykernel_23558/1486850193.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['step3_to_confirm'] = df['confirm']-df['step_3']

,Unnamed: 0,client_id,visitor_id,visit_id,start,step_1,step_2,step_3,confirm,Variation,...,bal,calls_6_mnth,logons_6_mnth,clnt_age_rounded,age_category,full_process,start_to_step1,step1_to_step2,step2_to_step3,step3_to_confirm
3,3,555,402506806_56087378777,637149525_38041617439_716659,2017-04-15 12:57:56,2017-04-15 12:58:03,2017-04-15 12:58:35,2017-04-15 13:00:14,2017-04-15 13:00:34,Test,...,25454.66,2.0,6.0,30.0,20-30,0 days 00:02:38,0 days 00:00:07,0 days 00:00:32,0 days 00:01:39,0 days 00:00:20
4,4,647,66758770_53988066587,40369564_40101682850_311847,2017-04-12 15:41:28,2017-04-12 15:41:35,2017-04-12 15:41:53,2017-04-12 15:45:02,2017-04-12 15:47:45,Test,...,30525.80,0.0,4.0,58.0,50-60,0 days 00:06:17,0 days 00:00:07,0 days 00:00:18,0 days 00:03:09,0 days 00:02:43
9,9,934,810392784_45004760546,7076463_57954418406_971348,2017-04-18 02:38:52,NaT,NaT,NaT,NaT,Test,...,32522.88,0.0,3.0,51.0,50-60,NaT,NaT,NaT,NaT,NaT
10,10,1028,42237450_62128060588,557292053_87239438319_391157,2017-04-08 18:51:28,2017-04-08 19:00:26,2017-04-08 19:00:17,2017-04-08 18:58:04,NaT,Control,...,103520.22,1.0,4.0,36.0,30-40,NaT,0 days 00:08:58,-1 days +23:59:51,-1 days +23:57:47,NaT
12,12,1104,194240915_18158000533,643221571_99977972121_69283,2017-06-20 22:31:33,NaT,NaT,NaT,NaT,Control,...,154643.94,6.0,9.0,48.0,40-50,NaT,NaT,NaT,NaT,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
118969,118969,9999150,665127594_52605538620,982803842_91891255980_123078,2017-05-29 16:55:30,2017-05-29 16:55:18,NaT,NaT,NaT,Test,...,97141.71,6.0,9.0,30.0,30-40,NaT,-1 days +23:59:48,NaT,NaT,NaT
118971,118971,9999400,915967319_19082377501,288904166_90826265353_276104,2017-04-20 05:21:28,2017-04-20 05:21:50,2017-04-20 05:22:17,2017-04-20 05:23:03,2017-04-20 05:23:27,Test,...,51787.04,0.0,3.0,28.0,20-30,0 days 00:01:59,0 days 00:00:22,0 days 00:00:27,0 days 00:00:46,0 days 00:00:24
118974,118974,9999626,52633065_71189986073,182723364_27031318473_880901,2017-05-14 09:07:51,2017-05-14 09:07:59,NaT,NaT,NaT,Test,...,36642.88,6.0,9.0,35.0,30-40,NaT,0 days 00:00:08,NaT,NaT,NaT
118975,118975,9999729,843385170_36953471821,99583652_41711450505_426179,2017-05-08 16:08:25,2017-05-08 16:08:30,2017-05-08 16:08:40,2017-05-08 16:09:19,2017-05-08 16:09:40,Test,...,107059.74,6.0,9.0,31.0,30-40,0 days 00:01:15,0 days 00:00:05,0 days 00:00:10,0 days 00:00:39,0 days 00:00:21
118977,118977,9999832,145538019_54444341400,472154369_16714624241_585315,2017-05-16 16:46:03,2017-05-16 16:46:11,NaT,NaT,NaT,Test,...,431887.61,1.0,4.0,49.0,40-50,NaT,0 days 00:00:08,NaT,NaT,NaT

In [71]:
df.head(50)

,Unnamed: 0,client_id,visitor_id,visit_id,start,step_1,step_2,step_3,confirm,Variation,...,bal,calls_6_mnth,logons_6_mnth,clnt_age_rounded,age_category,full_process,start_to_step1,step1_to_step2,step2_to_step3,step3_to_confirm
3,3,555,402506806_56087378777,637149525_38041617439_716659,2017-04-15 12:57:56,2017-04-15 12:58:03,2017-04-15 12:58:35,2017-04-15 13:00:14,2017-04-15 13:00:34,Test,...,25454.66,2.0,6.0,30.0,20-30,0 days 00:02:38,0 days 00:00:07,0 days 00:00:32,0 days 00:01:39,0 days 00:00:20
4,4,647,66758770_53988066587,40369564_40101682850_311847,2017-04-12 15:41:28,2017-04-12 15:41:35,2017-04-12 15:41:53,2017-04-12 15:45:02,2017-04-12 15:47:45,Test,...,30525.80,0.0,4.0,58.0,50-60,0 days 00:06:17,0 days 00:00:07,0 days 00:00:18,0 days 00:03:09,0 days 00:02:43
9,9,934,810392784_45004760546,7076463_57954418406_971348,2017-04-18 02:38:52,NaT,NaT,NaT,NaT,Test,...,32522.88,0.0,3.0,51.0,50-60,NaT,NaT,NaT,NaT,NaT
10,10,1028,42237450_62128060588,557292053_87239438319_391157,2017-04-08 18:51:28,2017-04-08 19:00:26,2017-04-08 19:00:17,2017-04-08 18:58:04,NaT,Control,...,103520.22,1.0,4.0,36.0,30-40,NaT,0 days 00:08:58,-1 days +23:59:51,-1 days +23:57:47,NaT
12,12,1104,194240915_18158000533,643221571_99977972121_69283,2017-06-20 22:31:33,NaT,NaT,NaT,NaT,Control,...,154643.94,6.0,9.0,48.0,40-50,NaT,NaT,NaT,NaT,NaT
13,13,1186,446844663_31615102958,795373564_99931517312_810896,2017-04-08 18:05:02,2017-04-08 18:05:13,2017-04-08 18:05:24,NaT,NaT,Control,...,31662.52,0.0,3.0,22.0,20-30,NaT,0 days 00:00:11,0 days 00:00:11,NaT,NaT
14,14,1195,766842522_69992551638,393817425_39015278493_996341,2017-04-05 20:15:26,2017-04-05 20:15:59,2017-04-05 20:17:37,2017-04-05 20:18:08,2017-04-05 20:19:31,Control,...,28457.96,2.0,5.0,54.0,50-60,0 days 00:04:05,0 days 00:00:33,0 days 00:01:38,0 days 00:00:31,0 days 00:01:23
15,15,1197,753759429_54481946928,71862471_21202285428_848395,2017-04-01 17:16:24,2017-04-01 17:16:28,2017-04-01 17:17:36,2017-04-01 17:17:42,2017-04-01 17:17:59,Control,...,177062.14,5.0,8.0,28.0,20-30,0 days 00:01:35,0 days 00:00:04,0 days 00:01:08,0 days 00:00:06,0 days 00:00:17
17,17,1336,920624746_32603333901,583743392_96265099036_939815,2017-05-08 06:05:12,2017-05-08 06:05:37,2017-05-08 06:06:03,2017-05-08 06:06:54,2017-05-08 08:23:00,Test,...,130537.18,6.0,9.0,42.0,40-50,0 days 02:17:48,0 days 00:00:25,0 days 00:00:26,0 days 00:00:51,0 days 02:16:06
18,18,1346,123474046_4204671056,27144337_83739845380_214282,2017-06-06 18:28:40,2017-06-06 18:23:54,2017-06-06 18:24:01,2017-06-06 18:28:43,NaT,Test,...,822512.91,3.0,6.0,46.0,40-50,NaT,-1 days +23:55:14,0 days 00:00:07,0 days 00:04:42,NaT
20,20,1368,366307863_19014662045,784065271_45379483290_309335,2017-04-09 21:58:28,NaT,NaT,NaT,NaT,Control,...,61956.25,6.0,9.0,45.0,40-50,NaT,NaT,NaT,NaT,NaT
23,23,1516,182314299_63168583136,481123290_95510977345_707323,2017-04-06 22:14:24,2017-04-06 22:15:20,2017-04-06 22:15:55,2017-04-06 22:26:02,2017-04-06 22:30:18,Test,...,25408.39,5.0,8.0,58.0,50-60,0 days 00:15:54,0 days 00:00:56,0 days 00:00:35,0 days 00:10:07,0 days 00:04:16
27,27,1643,910842861_51062379179,753205700_16851596206_134483,2017-06-10 07:49:27,2017-06-10 07:50:27,2017-06-10 07:50:43,2017-06-10 08:00:25,2017-06-10 08:00:55,Test,...,81731.39,0.0,3.0,55.0,50-60,0 days 00:11:28,0 days 00:01:00,0 days 00:00:16,0 days 00:09:42,0 days 00:00:30
31,31,1755,230596682_29327090182,690855460_62242406510_53318,2017-04-02 11:50:21,2017-04-02 11:52:22,2017-04-02 11:52:41,2017-04-02 11:53:08,2017-04-02 11:54:04,Test,...,179775.22,0.0,3.0,46.0,40-50,0 days 00:03:43,0 days 00:02:01,0 days 00:00:19,0 days 00:00:27,0 days 00:00:56
32,32,1836,619440135_40983729273,624455994_87386716654_950064,2017-04-07 09:36:07,2017-04-07 09:36:21,2017-04-05 18:48:27,2017-04-05 18:48:54,2017-04-05 18:53:03,Test,...,826232.62,4.0,7.0,52.0,50-60,-2 days +09:16:56,0 days 00:00:14,-2 days +09:12:06,0 days 00:00:27,0 days 00:04:09
34,34,1936,883992205_24100452548,943469853_76229226125_839996,2017-03-29 12:54:05,2017-03-29 12:54:13,2017-03-29 12:55:28,2017-03-29 12:55:39,2017-03-29 12:55:56,Test,...,52447.90,6.0,9.0,26.0,20-30,0 days 00:01:51,0 days 00:00:08,0 days 00:01:15,0 days 00:00:11,0 days 00:00:17
38,38,2439,607208067_70160939111,848231744_22569944243_37711,2017-03-23 14:59:23,NaT,NaT,NaT,NaT,Control,...,504142.55,0.0,3.0,56.0,50-60,NaT,NaT,NaT,NaT,NaT
40,40,2581,770616558_80928163524,182925466_27021409208_83502,2017-04-09 06:11:41,NaT,NaT,NaT,NaT,Control,...,24976.79,1.0,4.0,22.0,20-30,NaT,NaT,NaT,NaT,NaT
42,42,2720,560535515_73647480772,565429886_73206140156_730955,2017-04-03 16:08:23,NaT,NaT,NaT,NaT,Test,...,81536.00,6.0,9.0,25.0,20-30,NaT,NaT,NaT,NaT,NaT
44,44,3232,48719955_20160099584,842251962_41107309625_824575,2017-06-15 12:14:40,2017-06-15 12:14:54,2017-06-15 12:15:07,2017-06-15 12:19:33,2017-06-15 12:20:00,Test,...,45617.96,3.0,6.0,52.0,50-60,0 days 00:05:20,0 days 00:00:14,0 days 00:00:13,0 days 00:04:26,0 days 00:00:27
46,46,3572,339364993_3869667206,353683085_82881264671_340960,2017-04-05 17:51:55,2017-04-05 17:52:05,2017-04-05 17:52:59,2017-04-05 17:54:49,2017-04-05 17:56:10,Test,...,84673.58,0.0,3.0,54.0,50-60,0 days 00:04:15,0 days 00:00:10,0 days 00:00:54,0 days 00:01:50,0 days 00:01:21
47,47,3647,742136411_92170694666,53540785_76819002881_890663,2017-06-01 16:01:23,2017-06-01 15:48:13,2017-06-01 15:49:59,2017-06-01 15:57:33,NaT,Control,...,154244.15,4.0,7.0,63.0,60-70,NaT,-1 days +23:46:50,0 days 00:01:46,0 days 00:07:34,NaT
49,49,3743,179439784_83920302761,438930656_9173628148_961548,2017-06-16 06:32:12,2017-06-16 06:32:25,2017-06-16 06:33:04,2017-06-16 06:35:25,2017-06-16 06:37:04,Control,...,48262.21,3.0,6.0,30.0,30-40,0 days 00:04:52,0 days 00:00:13,0 days 00:00:39,0 days 00:02:21,0 days 00:01:39
55,55,4369,162117827_70395546784,656208801_69300634704_561318,2017-04-05 13:14:19,2017-04-05 13:14:30,2017-04-05 13:14:56,2017-04-05 13:15:43,2017-04-05 13:24:51,Test,...,191263.96,0.0,3.0,70.0,over 70,0 days 00:10:32,0 days 00:00:11,0 days 00:00:26,0 days 00:00:47,0 days 00:09:08
56,56,4484,929634148_40943099576,66056328_29973355596_981576,2017-04-05 20:40:10,2017-04-05 20:41:01,2017-04-05 20:41:53,2017-04-05 20:47:28,2017-04-05 20:52:35,Test,...,51499.77,2.0,5.0,48.0,40-50,0 days 00:12:25,0 days 00:00:51,0 days 00:00:52,0 days 00:05:35,0 days 00:05:07
57,57,4603,587203336_56340498594,737367756_66604855414_331627,2017-03-29 15:03:03,2017-03-29 15:03:08,2017-03-29 15:03:33,2017-03-29 15:04:05,2017-04-01 23:57:47,Test,...,48726.26,6.0,9.0,38.0,30-40,3 days 08:54:44,0 days 00:00:05,0 days 00:00:25,0 days 00:00:32,3 days 08:53:42
60,60,4717,263467736_20983070341,57127699_86570634961_675092,2017-05-07 18:35:44,2017-05-07 18:35:55,2017-05-07 18:36:37,2017-05-07 18:37:05,2017-05-07 18:38:47,Test,...,1739571.55,6.0,9.0,58.0,50-60,0 days 00:03:03,0 days 00:00:11,0 days 00:00:42,0 days 00:00:28,0 days 00:01:42
62,62,4870,217208323_14886849973,873551439_92996250161_694958,2017-03-29 12:29:18,2017-03-29 12:29:23,2017-03-29 12:34:16,2017-03-29 12:35:47,2017-03-29 12:36:10,Test,...,89408.80,6.0,9.0,26.0,20-30,0 days 00:06:52,0 days 00:00:05,0 days 00:04:53,0 days 00:01:31,0 days 00:00:23
68,68,5354,233679354_36495397627,216367358_55024634523_791141,2017-04-13 20:22:33,2017-04-13 20:22:39,2017-04-12 20:30:22,2017-04-12 20:30:39,2017-04-12 20:31:31,Control,...,62282.38,2.0,5.0,50.0,50-60,-1 days +00:08:58,0 days 00:00:06,-1 days +00:07:43,0 days 00:00:17,0 days 00:00:52
73,73,5845,107020087_57150768871,568024739_52280552355_814744,2017-05-11 12:26:25,2017-05-11 12:26:33,2017-05-11 12:27:04,2017-05-11 12:28:02,NaT,Test,...,213906.62,2.0,5.0,76.0,over 70,NaT,0 days 00:00:08,0 days 00:00:31,0 days 00:00:58,NaT
75,75,6022,180601604_64159554872,90417311_41511510822_989121,2017-04-12 21:21:47,2017-04-12 21:19:35,NaT,NaT,NaT,Test,...,36485.55,6.0,9.0,30.0,30-40,NaT,-1 days +23:57:48,NaT,NaT,NaT
78,78,6150,237288803_52728549681,768543576_4146117901_15957,2017-04-12 14:45:12,NaT,NaT,NaT,NaT,Test,...,199928.94,2.0,6.0,67.0,60-70,NaT,NaT,NaT,NaT,NaT
83,83,6642,378857471_644475492,261034804_26267268728_251909,2017-04-19 12:20:35,2017-04-19 12:20:46,2017-04-19 12:21:19,2017-04-19 12:22:43,2017-04-19 12:27:58,Control,...,34987.23,0.0,3.0,36.0,30-40,0 days 00:07:23,0 days 00:00:11,0 days 00:00:33,0 days 00:01:24,0 days 00:05:15
84,84,6904,335388593_51472089542,15987159_15900720498_971848,2017-04-05 12:21:29,2017-04-05 12:21:37,2017-04-05 12:22:07,2017-04-05 12:22:55,2017-04-05 12:23:34,Test,...,348285.51,6.0,9.0,64.0,60-70,0 days 00:02:05,0 days 00:00:08,0 days 00:00:30,0 days 00:00:48,0 days 00:00:39
86,86,6977,792636892_70609946663,613260866_97547229511_110040,2017-05-08 15:44:56,2017-05-08 15:45:26,2017-05-08 15:45:31,2017-05-08 15:46:35,2017-05-08 15:48:43,Control,...,26011.36,0.0,3.0,53.0,50-60,0 days 00:03:47,0 days 00:00:30,0 days 00:00:05,0 days 00:01:04,0 days 00:02:08
87,87,6985,157368510_91928042506,702486929_79839403728_901057,2017-04-16 14:19:15,2017-04-16 14:19:50,2017-04-16 14:20:36,2017-04-16 14:21:27,2017-04-16 14:24:46,Control,...,84975.60,6.0,9.0,62.0,60-70,0 days 00:05:31,0 days 00:00:35,0 days 00:00:46,0 days 00:00:51,0 days 00:03:19
89,89,7020,131463516_45910398094,61344667_49617029714_100250,2017-04-09 15:17:53,2017-04-09 15:18:10,2017-04-08 10:20:19,2017-04-08 10:20:27,2017-04-08 10:21:43,Control,...,63648.09,2.0,5.0,42.0,40-50,-2 days +19:03:50,0 days 00:00:17,-2 days +19:02:09,0 days 00:00:08,0 days 00:01:16
96,96,7561,374207007_19518941180,728540633_30199135226_481610,2017-04-17 21:27:53,2017-04-17 21:26:14,2017-04-17 21:26:30,NaT,NaT,Test,...,35070.62,6.0,9.0,33.0,30-40,NaT,-1 days +23:58:21,0 days 00:00:16,NaT,NaT
97,97,7563,476824493_82594224170,258809082_93130763605_162548,2017-04-04 22:41:45,2017-04-04 22:44:28,2017-04-04 22:45:11,2017-04-04 22:46:38,2017-04-04 22:47:00,Test,...,186719.52,6.0,9.0,30.0,20-30,0 days 00:05:15,0 days 00:02:43,0 days 00:00:43,0 days 00:01:27,0 days 00:00:22
98,98,7567,163847730_30321246396,479688167_74317487515_880130,2017-05-07 14:14:53,2017-05-07 14:15:29,2017-05-07 14:15:41,2017-05-07 14:16:14,2017-05-07 14:17:14,Control,...,27165.99,1.0,5.0,33.0,30-40,0 days 00:02:21,0 days 00:00:36,0 days 00:00:12,0 days 00:00:33,0 days 00:01:00
99,99,7657,591719386_90464616750,155200945_99956206989_392959,2017-04-05 12:43:34,2017-04-05 12:43:36,2017-04-05 12:43:46,2017-04-05 12:44:50,2017-04-05 12:45:11,Test,...,55643.37,2.0,5.0,42.0,40-50,0 days 00:01:37,0 days 00:00:02,0 days 00:00:10,0 days 00:01:04,0 days 00:00:21
100,100,7723,17946235_32107621969,36140743_8336766245_636783,2017-04-07 10:05:46,2017-04-07 10:06:12,2017-04-07 10:08:25,2017-04-07 10:10:01,2017-04-07 10:10:57,Test,...,571316.80,5.0,8.0,54.0,50-60,0 days 00:05:11,0 days 00:00:26,0 days 00:02:13,0 days 00:01:36,0 days 00:00:56
102,102,7934,370980102_64628679348,404712182_59923370646_199213,2017-06-15 20:33:11,2017-06-15 20:32:53,NaT,NaT,NaT,Test,...,126480.90,6.0,9.0,44.0,40-50,NaT,-1 days +23:59:42,NaT,NaT,NaT
105,105,8023,556674477_26750431479,950045632_4255089073_698578,2017-04-13 10:20:27,2017-04-13 10:20:33,NaT,NaT,NaT,Test,...,34676.55,3.0,6.0,50.0,50-60,NaT,0 days 00:00:06,NaT,NaT,NaT
107,107,8039,118857899_74239220729,194471241_93096980194_578527,2017-04-08 10:16:12,2017-04-08 10:18:01,2017-04-08 10:18:17,2017-04-08 10:20:39,NaT,Control,...,79960.00,6.0,9.0,58.0,50-60,NaT,0 days 00:01:49,0 days 00:00:16,0 days 00:02:22,NaT
108,108,8055,378922878_66802415648,591215489_42877226040_403051,2017-04-06 10:22:52,2017-04-06 10:23:14,2017-04-06 10:24:36,2017-04-06 10:25:28,2017-04-06 10:27:49,Test,...,710672.04,5.0,8.0,56.0,50-60,0 days 00:04:57,0 days 00:00:22,0 days 00:01:22,0 days 00:00:52,0 days 00:02:21
109,109,8101,757154552_88739859416,108937428_94918779072_42035,2017-04-10 08:39:29,2017-04-10 08:40:25,2017-04-10 08:42:58,2017-04-10 08:44:21,2017-04-10 08:55:23,Control,...,257863.03,6.0,9.0,70.0,over 70,0 days 00:15:54,0 days 00:00:56,0 days 00:02:33,0 days 00:01:23,0 days 00:11:02
110,110,8124,615009708_53442935870,994996192_45319706118_538245,2017-04-12 11:44:38,NaT,NaT,NaT,NaT,Control,...,61022.23,5.0,8.0,42.0,40-50,NaT,NaT,NaT,NaT,NaT
113,113,8610,199799684_98530111815,243751268_9020460563_923194,2017-04-01 10:07:12,NaT,NaT,NaT,NaT,Test,...,36626.55,0.0,3.0,27.0,20-30,NaT,NaT,NaT,NaT,NaT
115,115,8712,908190802_92056500491,102999029_97734962870_849096,2017-04-08 13:06:58,2017-04-08 13:07:38,2017-04-08 13:07:43,NaT,NaT,Test,...,84995.78,1.0,4.0,38.0,30-40,NaT,0 days 00:00:40,0 days 00:00:05,NaT,NaT

In [73]:
df.to_csv('dataset_complete_beta.csv')