In [95]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

%matplotlib inline

In [97]:
df = pd.read_csv('/Users/maurits/Documents/Ironhack/week_05/gpw5+6/vanguard-ab-test/data/clean/dataset_TVC_MS.csv')

In [98]:
df.head(51)

,Unnamed: 0,client_id,level_1,reached_confirm,went_back,TD,SD,S1,S2,S3,...,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gendr,num_accts,bal,calls_6_mnth,logons_6_mnth,clnt_age_rounded,age_category
0,0,555,reached_confirm,True,NaN,NaN,NaN,NaN,NaN,NaN,...,3.0,46.0,29.5,U,2.0,25454.66,2.0,6.0,30.0,20-30
1,1,555,total_duration_minutes,NaN,NaN,2.633333,NaN,NaN,NaN,NaN,...,3.0,46.0,29.5,U,2.0,25454.66,2.0,6.0,30.0,20-30
2,2,555,step_1_duration,NaN,NaN,NaN,NaN,0.533333,NaN,NaN,...,3.0,46.0,29.5,U,2.0,25454.66,2.0,6.0,30.0,20-30
3,3,555,step_2_duration,NaN,NaN,NaN,NaN,NaN,1.650000,NaN,...,3.0,46.0,29.5,U,2.0,25454.66,2.0,6.0,30.0,20-30
4,4,555,went_back,NaN,False,NaN,NaN,NaN,NaN,NaN,...,3.0,46.0,29.5,U,2.0,25454.66,2.0,6.0,30.0,20-30
5,5,555,step_3_duration,NaN,NaN,NaN,NaN,NaN,NaN,0.333333,...,3.0,46.0,29.5,U,2.0,25454.66,2.0,6.0,30.0,20-30
6,6,555,start_duration,NaN,NaN,NaN,0.116667,NaN,NaN,NaN,...,3.0,46.0,29.5,U,2.0,25454.66,2.0,6.0,30.0,20-30
7,7,647,step_3_duration,NaN,NaN,NaN,NaN,NaN,NaN,2.716667,...,12.0,151.0,57.5,M,2.0,30525.80,0.0,4.0,58.0,50-60
8,8,647,went_back,NaN,False,NaN,NaN,NaN,NaN,NaN,...,12.0,151.0,57.5,M,2.0,30525.80,0.0,4.0,58.0,50-60
9,9,647,total_duration_minutes,NaN,NaN,6.283333,NaN,NaN,NaN,NaN,...,12.0,151.0,57.5,M,2.0,30525.80,0.0,4.0,58.0,50-60
10,10,647,reached_confirm,True,NaN,NaN,NaN,NaN,NaN,NaN,...,12.0,151.0,57.5,M,2.0,30525.80,0.0,4.0,58.0,50-60
11,11,647,step_1_duration,NaN,NaN,NaN,NaN,0.300000,NaN,NaN,...,12.0,151.0,57.5,M,2.0,30525.80,0.0,4.0,58.0,50-60
12,12,647,start_duration,NaN,NaN,NaN,0.116667,NaN,NaN,NaN,...,12.0,151.0,57.5,M,2.0,30525.80,0.0,4.0,58.0,50-60
13,13,647,step_2_duration,NaN,NaN,NaN,NaN,NaN,3.150000,NaN,...,12.0,151.0,57.5,M,2.0,30525.80,0.0,4.0,58.0,50-60
14,14,934,start_duration,NaN,NaN,NaN,2.366667,NaN,NaN,NaN,...,9.0,109.0,51.0,F,2.0,32522.88,0.0,3.0,51.0,50-60
15,15,934,went_back,NaN,False,NaN,NaN,NaN,NaN,NaN,...,9.0,109.0,51.0,F,2.0,32522.88,0.0,3.0,51.0,50-60
16,16,934,reached_confirm,False,NaN,NaN,NaN,NaN,NaN,NaN,...,9.0,109.0,51.0,F,2.0,32522.88,0.0,3.0,51.0,50-60
17,17,1028,step_3_duration,NaN,NaN,NaN,NaN,NaN,NaN,1.850000,...,12.0,145.0,36.0,M,3.0,103520.22,1.0,4.0,36.0,30-40
18,18,1028,went_back,NaN,True,NaN,NaN,NaN,NaN,NaN,...,12.0,145.0,36.0,M,3.0,103520.22,1.0,4.0,36.0,30-40
19,19,1028,backtrack_to_step_1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,12.0,145.0,36.0,M,3.0,103520.22,1.0,4.0,36.0,30-40
20,20,1028,backtrack_to_step_2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,12.0,145.0,36.0,M,3.0,103520.22,1.0,4.0,36.0,30-40
21,21,1028,start_duration,NaN,NaN,NaN,0.816667,NaN,NaN,NaN,...,12.0,145.0,36.0,M,3.0,103520.22,1.0,4.0,36.0,30-40
22,22,1028,step_1_duration,NaN,NaN,NaN,NaN,1.566667,NaN,NaN,...,12.0,145.0,36.0,M,3.0,103520.22,1.0,4.0,36.0,30-40
23,23,1028,reached_confirm,False,NaN,NaN,NaN,NaN,NaN,NaN,...,12.0,145.0,36.0,M,3.0,103520.22,1.0,4.0,36.0,30-40
24,24,1104,reached_confirm,False,NaN,NaN,NaN,NaN,NaN,NaN,...,5.0,66.0,48.0,U,3.0,154643.94,6.0,9.0,48.0,40-50
25,25,1104,went_back,NaN,False,NaN,NaN,NaN,NaN,NaN,...,5.0,66.0,48.0,U,3.0,154643.94,6.0,9.0,48.0,40-50
26,26,1186,went_back,NaN,False,NaN,NaN,NaN,NaN,NaN,...,8.0,99.0,22.0,U,2.0,31662.52,0.0,3.0,22.0,20-30
27,27,1186,reached_confirm,False,NaN,NaN,NaN,NaN,NaN,NaN,...,8.0,99.0,22.0,U,2.0,31662.52,0.0,3.0,22.0,20-30
28,28,1186,step_1_duration,NaN,NaN,NaN,NaN,0.183333,NaN,NaN,...,8.0,99.0,22.0,U,2.0,31662.52,0.0,3.0,22.0,20-30
29,29,1195,start_duration,NaN,NaN,NaN,0.550000,NaN,NaN,NaN,...,21.0,262.0,54.5,M,2.0,28457.96,2.0,5.0,54.0,50-60
30,30,1195,total_duration_minutes,NaN,NaN,4.083333,NaN,NaN,NaN,NaN,...,21.0,262.0,54.5,M,2.0,28457.96,2.0,5.0,54.0,50-60
31,31,1195,step_2_duration,NaN,NaN,NaN,NaN,NaN,0.516667,NaN,...,21.0,262.0,54.5,M,2.0,28457.96,2.0,5.0,54.0,50-60
32,32,1195,step_1_duration,NaN,NaN,NaN,NaN,1.633333,NaN,NaN,...,21.0,262.0,54.5,M,2.0,28457.96,2.0,5.0,54.0,50-60
33,33,1195,reached_confirm,True,NaN,NaN,NaN,NaN,NaN,NaN,...,21.0,262.0,54.5,M,2.0,28457.96,2.0,5.0,54.0,50-60
34,34,1195,step_3_duration,NaN,NaN,NaN,NaN,NaN,NaN,1.383333,...,21.0,262.0,54.5,M,2.0,28457.96,2.0,5.0,54.0,50-60
35,35,1195,went_back,NaN,False,NaN,NaN,NaN,NaN,NaN,...,21.0,262.0,54.5,M,2.0,28457.96,2.0,5.0,54.0,50-60
36,36,1197,went_back,NaN,True,NaN,NaN,NaN,NaN,NaN,...,7.0,85.0,28.5,U,5.0,177062.14,5.0,8.0,28.0,20-30
37,37,1197,step_1_duration,NaN,NaN,NaN,NaN,0.100000,NaN,NaN,...,7.0,85.0,28.5,U,5.0,177062.14,5.0,8.0,28.0,20-30
38,38,1197,total_duration_minutes,NaN,NaN,1.583333,NaN,NaN,NaN,NaN,...,7.0,85.0,28.5,U,5.0,177062.14,5.0,8.0,28.0,20-30
39,39,1197,backtrack_to_step_2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7.0,85.0,28.5,U,5.0,177062.14,5.0,8.0,28.0,20-30
40,40,1197,start_duration,NaN,NaN,NaN,0.066667,NaN,NaN,NaN,...,7.0,85.0,28.5,U,5.0,177062.14,5.0,8.0,28.0,20-30
41,41,1197,step_2_duration,NaN,NaN,NaN,NaN,NaN,0.950000,NaN,...,7.0,85.0,28.5,U,5.0,177062.14,5.0,8.0,28.0,20-30
42,42,1197,step_3_duration,NaN,NaN,NaN,NaN,NaN,NaN,0.466667,...,7.0,85.0,28.5,U,5.0,177062.14,5.0,8.0,28.0,20-30
43,43,1197,reached_confirm,True,NaN,NaN,NaN,NaN,NaN,NaN,...,7.0,85.0,28.5,U,5.0,177062.14,5.0,8.0,28.0,20-30
44,44,1336,reached_confirm,True,NaN,NaN,NaN,NaN,NaN,NaN,...,48.0,576.0,42.0,M,4.0,130537.18,6.0,9.0,42.0,40-50
45,45,1336,step_1_duration,NaN,NaN,NaN,NaN,0.433333,NaN,NaN,...,48.0,576.0,42.0,M,4.0,130537.18,6.0,9.0,42.0,40-50
46,46,1336,step_3_duration,NaN,NaN,NaN,NaN,NaN,NaN,1.816667,...,48.0,576.0,42.0,M,4.0,130537.18,6.0,9.0,42.0,40-50
47,47,1336,start_duration,NaN,NaN,NaN,0.416667,NaN,NaN,NaN,...,48.0,576.0,42.0,M,4.0,130537.18,6.0,9.0,42.0,40-50
48,48,1336,step_2_duration,NaN,NaN,NaN,NaN,NaN,0.850000,NaN,...,48.0,576.0,42.0,M,4.0,130537.18,6.0,9.0,42.0,40-50
49,49,1336,went_back,NaN,False,NaN,NaN,NaN,NaN,NaN,...,48.0,576.0,42.0,M,4.0,130537.18,6.0,9.0,42.0,40-50
50,50,1346,start_duration,NaN,NaN,NaN,2.650000,NaN,NaN,NaN,...,14.0,177.0,46.0,F,2.0,822512.91,3.0,6.0,46.0,40-50

In [190]:
df.columns

Index(['Unnamed: 0', 'client_id', 'level_1', 'reached_confirm', 'went_back',
       'TD', 'SD', 'S1', 'S2', 'S3', 'BS', 'BS1', 'BS2', 'Variation',
       'clnt_tenure_yr', 'clnt_tenure_mnth', 'clnt_age', 'gendr', 'num_accts',
       'bal', 'calls_6_mnth', 'logons_6_mnth', 'clnt_age_rounded',
       'age_category'],
      dtype='object')

In [193]:
df['bal'].nunique()

50312

In [195]:
df2['bal'].nunique()

NameError: name 'df2' is not defined

In [197]:
df_control = df[df['Variation'] == 'Control']
df_test = df[df['Variation'] == 'Test']

In [199]:
df_test.head(20)

,Unnamed: 0,client_id,level_1,reached_confirm,went_back,TD,SD,S1,S2,S3,...,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gendr,num_accts,bal,calls_6_mnth,logons_6_mnth,clnt_age_rounded,age_category
0,0,555,reached_confirm,True,NaN,NaN,NaN,NaN,NaN,NaN,...,3.0,46.0,29.5,U,2.0,25454.66,2.0,6.0,30.0,20-30
7,7,647,step_3_duration,NaN,NaN,NaN,NaN,NaN,NaN,2.716667,...,12.0,151.0,57.5,M,2.0,30525.80,0.0,4.0,58.0,50-60
14,14,934,start_duration,NaN,NaN,NaN,2.366667,NaN,NaN,NaN,...,9.0,109.0,51.0,F,2.0,32522.88,0.0,3.0,51.0,50-60
44,44,1336,reached_confirm,True,NaN,NaN,NaN,NaN,NaN,NaN,...,48.0,576.0,42.0,M,4.0,130537.18,6.0,9.0,42.0,40-50
50,50,1346,start_duration,NaN,NaN,NaN,2.650000,NaN,NaN,NaN,...,14.0,177.0,46.0,F,2.0,822512.91,3.0,6.0,46.0,40-50
57,57,1516,reached_confirm,True,NaN,NaN,NaN,NaN,NaN,NaN,...,12.0,150.0,58.5,F,2.0,25408.39,5.0,8.0,58.0,50-60
62,62,1643,step_3_duration,NaN,NaN,NaN,NaN,NaN,NaN,0.500000,...,19.0,229.0,55.0,M,2.0,81731.39,0.0,3.0,55.0,50-60
66,66,1702,went_back,NaN,False,NaN,NaN,NaN,NaN,NaN,...,21.0,260.0,62.5,U,3.0,1769255.99,5.0,8.0,62.0,60-70
68,68,1755,step_1_duration,NaN,NaN,NaN,NaN,1.166667,NaN,NaN,...,9.0,110.0,46.5,M,2.0,179775.22,0.0,3.0,46.0,40-50
75,75,1836,went_back,NaN,True,NaN,NaN,NaN,NaN,NaN,...,13.0,157.0,51.5,M,2.0,826232.62,4.0,7.0,52.0,50-60
82,82,1936,reached_confirm,True,NaN,NaN,NaN,NaN,NaN,NaN,...,5.0,63.0,26.5,M,2.0,52447.90,6.0,9.0,26.0,20-30
94,94,2720,went_back,NaN,False,NaN,NaN,NaN,NaN,NaN,...,9.0,117.0,25.0,M,3.0,81536.00,6.0,9.0,25.0,20-30
97,97,3232,step_1_duration,NaN,NaN,NaN,NaN,0.216667,NaN,NaN,...,9.0,116.0,52.0,F,2.0,45617.96,3.0,6.0,52.0,50-60
104,104,3572,went_back,NaN,False,NaN,NaN,NaN,NaN,NaN,...,15.0,189.0,54.5,M,2.0,84673.58,0.0,3.0,54.0,50-60
122,122,4369,went_back,NaN,False,NaN,NaN,NaN,NaN,NaN,...,14.0,172.0,70.5,F,2.0,191263.96,0.0,3.0,70.0,over 70
128,128,4484,went_back,NaN,False,NaN,NaN,NaN,NaN,NaN,...,16.0,199.0,48.5,M,2.0,51499.77,2.0,5.0,48.0,40-50
133,133,4603,start_duration,NaN,NaN,NaN,0.083333,NaN,NaN,NaN,...,12.0,154.0,38.5,F,2.0,48726.26,6.0,9.0,38.0,30-40
139,139,4717,step_3_duration,NaN,NaN,NaN,NaN,NaN,NaN,2.700000,...,7.0,86.0,58.0,U,2.0,1739571.55,6.0,9.0,58.0,50-60
146,146,4870,reached_confirm,True,NaN,NaN,NaN,NaN,NaN,NaN,...,21.0,253.0,26.5,M,3.0,89408.80,6.0,9.0,26.0,20-30
160,160,5845,step_1_duration,NaN,NaN,NaN,NaN,1.533333,NaN,NaN,...,23.0,280.0,76.0,F,2.0,213906.62,2.0,5.0,76.0,over 70

In [201]:
# find age group populations 'total' for test and control
control_age_total = df_control.groupby(['age_category'])['client_id'].nunique() # grouped list by age
test_age_total = df_test.groupby(['age_category'])['client_id'].nunique() # grouped list by age
size_control = control_age_total.sum()
size_test = test_age_total.sum()
control_age_total

age_category
20-30       3724
30-40       4416
40-50       4026
50-60       5208
60-70       4305
over 70     1636
under 20     211
Name: client_id, dtype: int64

In [203]:
# find age group populations 'total' for test and control
control_age_start = df_control[['age_category','client_id', 'SD', 'bal']]
control_age_start = control_age_start.dropna(subset=['SD'])
control_age_start = control_age_start.drop_duplicates(subset=['client_id'])
control_age_start = control_age_start[control_age_start['SD'] != 0]
control_age_start = control_age_start.groupby(['age_category'])['SD'].count()

control_age_start.sum()

2972

In [205]:
control_age_s3 = df_control[['age_category','client_id', 'S3', 'bal']]
control_age_s3 = control_age_s3.dropna(subset=['S3'])
control_age_s3 = control_age_s3.drop_duplicates(subset=['client_id'])
control_age_s3 = control_age_s3[control_age_s3['S3'] != 0]
control_age_s3 = control_age_s3.groupby(['age_category'])['S3'].count()

control_age_s3

age_category
20-30       372
30-40       426
40-50       384
50-60       456
60-70       365
over 70     102
under 20     26
Name: S3, dtype: int64

In [207]:
control_concat = pd.concat([control_age_total, control_age_start], axis=1, join='outer', ignore_index=True)
control_concat['reduction_total_to_start'] = (control_concat[1]/control_concat[0])-1
control_concat = pd.concat([control_concat, control_age_s3], axis=1, join='outer', ignore_index=True)
control_concat['reduction_start_to_confirm'] = (control_concat[3]/control_concat[1])-1
control_concat['reduction_total_to_confirm'] = (control_concat[3]/control_concat[0])-1
control_concat['conversion_rate%'] = ((control_concat['reduction_total_to_confirm'] +1)*100).round(2)
control_concat = control_concat.rename(columns={0: 'size_total', 1: 'size_start', 2: 'reduction_total_to_start', 3: 'size_confirm'})
control_concat.insert(0, 'group', 'control')
control_concat

,group,size_total,size_start,reduction_total_to_start,size_confirm,reduction_start_to_confirm,reduction_total_to_confirm,conversion_rate%
age_category,,,,,,,,
20-30,control,3724,491,-0.868153,372,-0.242363,-0.900107,9.99
30-40,control,4416,582,-0.868207,426,-0.268041,-0.903533,9.65
40-50,control,4026,529,-0.868604,384,-0.274102,-0.904620,9.54
50-60,control,5208,672,-0.870968,456,-0.321429,-0.912442,8.76
60-70,control,4305,481,-0.888269,365,-0.241164,-0.915215,8.48
over 70,control,1636,188,-0.885086,102,-0.457447,-0.937653,6.23
under 20,control,211,29,-0.862559,26,-0.103448,-0.876777,12.32

In [209]:
test_age_start = df_test[['age_category','client_id', 'SD', 'bal']]
test_age_start = test_age_start.dropna(subset=['SD'])
test_age_start = test_age_start.drop_duplicates(subset=['client_id'])
test_age_start = test_age_start[test_age_start['SD'] != 0]
test_age_start = test_age_start.groupby(['age_category'])['SD'].count()

test_age_start

age_category
20-30       601
30-40       750
40-50       662
50-60       787
60-70       648
over 70     241
under 20     43
Name: SD, dtype: int64

In [211]:
test_age_s3 = df_test[['age_category','client_id', 'reached_confirm', 'bal']]
test_age_s3 = test_age_s3.dropna(subset=['reached_confirm'])
test_age_s3 = test_age_s3.drop_duplicates(subset=['client_id'])
test_age_s3 = test_age_s3[test_age_s3['reached_confirm'] != 0]
test_age_s3 = test_age_s3.groupby(['age_category'])['reached_confirm'].count()

test_age_s3

age_category
20-30       522
30-40       562
40-50       567
50-60       660
60-70       565
over 70     165
under 20     30
Name: reached_confirm, dtype: int64

In [213]:
test_concat = pd.concat([test_age_total, test_age_start], axis=1, join='outer', ignore_index=True)
test_concat['reduction_total_to_start'] = (test_concat[1]/test_concat[0])-1
test_concat = pd.concat([test_concat, test_age_s3], axis=1, join='outer', ignore_index=True)
test_concat['reduction_start_to_confirm'] = (test_concat[3]/test_concat[1])-1
test_concat['reduction_total_to_confirm'] = (test_concat[3]/test_concat[0])-1
test_concat['conversion_rate%'] = ((test_concat['reduction_total_to_confirm'] +1)*100).round(2)
test_concat = test_concat.rename(columns={0: 'size_total', 1: 'size_start', 2: 'reduction_total_to_start', 3: 'size_confirm'})
test_concat.insert(0, 'group', 'test')
test_concat

,group,size_total,size_start,reduction_total_to_start,size_confirm,reduction_start_to_confirm,reduction_total_to_confirm,conversion_rate%
age_category,,,,,,,,
20-30,test,4335,601,-0.861361,522,-0.131448,-0.879585,12.04
30-40,test,5257,750,-0.857333,562,-0.250667,-0.893095,10.69
40-50,test,4641,662,-0.857358,567,-0.143505,-0.877828,12.22
50-60,test,5850,787,-0.865470,660,-0.161372,-0.887179,11.28
60-70,test,4822,648,-0.865616,565,-0.128086,-0.882829,11.72
over 70,test,1795,241,-0.865738,165,-0.315353,-0.908078,9.19
under 20,test,261,43,-0.835249,30,-0.302326,-0.885057,11.49

In [215]:
concat_along_rows = pd.concat([control_concat, test_concat], axis=0, join='outer', ignore_index=False)
concat_along_rows = concat_along_rows.sort_index(ascending=True)
concat_along_rows
# concat_along_rows.to_csv('conversion_rates.csv', index=True)

,group,size_total,size_start,reduction_total_to_start,size_confirm,reduction_start_to_confirm,reduction_total_to_confirm,conversion_rate%
age_category,,,,,,,,
20-30,control,3724,491,-0.868153,372,-0.242363,-0.900107,9.99
20-30,test,4335,601,-0.861361,522,-0.131448,-0.879585,12.04
30-40,control,4416,582,-0.868207,426,-0.268041,-0.903533,9.65
30-40,test,5257,750,-0.857333,562,-0.250667,-0.893095,10.69
40-50,control,4026,529,-0.868604,384,-0.274102,-0.904620,9.54
40-50,test,4641,662,-0.857358,567,-0.143505,-0.877828,12.22
50-60,control,5208,672,-0.870968,456,-0.321429,-0.912442,8.76
50-60,test,5850,787,-0.865470,660,-0.161372,-0.887179,11.28
60-70,control,4305,481,-0.888269,365,-0.241164,-0.915215,8.48
60-70,test,4822,648,-0.865616,565,-0.128086,-0.882829,11.72
over 70,control,1636,188,-0.885086,102,-0.457447,-0.937653,6.23
over 70,test,1795,241,-0.865738,165,-0.315353,-0.908078,9.19
under 20,control,211,29,-0.862559,26,-0.103448,-0.876777,12.32
under 20,test,261,43,-0.835249,30,-0.302326,-0.885057,11.49

In [217]:
concat_along_rows_grouped = concat_along_rows.groupby(['group']).sum()
concat_along_rows_grouped = concat_along_rows_grouped.drop(columns=['reduction_total_to_start','reduction_start_to_confirm','reduction_total_to_confirm'])
concat_along_rows_grouped['reduction_total_to_start'] = (concat_along_rows_grouped['size_start']/concat_along_rows_grouped['size_total'])-1
concat_along_rows_grouped['reduction_start_to_confirm'] = (concat_along_rows_grouped['size_confirm']/concat_along_rows_grouped['size_start'])-1
concat_along_rows_grouped['reduction_total_to_confirm'] = (concat_along_rows_grouped['size_confirm']/concat_along_rows_grouped['size_total'])-1
concat_along_rows_grouped['conversion_rate%'] = ((concat_along_rows_grouped['reduction_total_to_confirm'] + 1)*100).round(2)
concat_along_rows_grouped

,size_total,size_start,size_confirm,conversion_rate%,reduction_total_to_start,reduction_start_to_confirm,reduction_total_to_confirm
group,,,,,,,
control,23526,2972,2131,9.06,-0.873672,-0.282974,-0.909419
test,26961,3732,3071,11.39,-0.861578,-0.177117,-0.886095

In [219]:
# concat_along_rows_grouped.to_csv('conversion_rates_conrolvtest.csv', index=True)

In [221]:
# find means in bal for all age groups

df = df.drop_duplicates(subset=['client_id'])
average_bal_grouped = df.groupby(['age_category'])['bal'].mean()
average_bal_grpdict = dict(average_bal_grouped.round(2))


#values
average_20_30 = average_bal_grpdict['20-30']
average_30_40 = average_bal_grpdict['30-40']
average_40_50 = average_bal_grpdict['40-50']
average_50_60 = average_bal_grpdict['50-60']
average_60_70 = average_bal_grpdict['60-70']
average_over70 = average_bal_grpdict['over 70']
average_bal_grpdict

{'20-30': 62181.79,
 '30-40': 94728.28,
 '40-50': 140106.53,
 '50-60': 179634.28,
 '60-70': 223085.06,
 'over 70': 255003.87,
 'under 20': 41334.51}

In [223]:
test_perf = test_concat.drop(columns=['group', 'size_total', 'size_start', 'size_confirm'])
test_perf = test_perf.rename(columns={'reduction_total_to_start': 'reduction_total_to_start_TEST', 'reduction_start_to_confirm': 'reduction_start_to_confirm_TEST', 'reduction_total_to_confirm': 'reduction_total_to_confirm_TEST', 'conversion_rate': 'conversion_rate_TEST'})
test_perf

,reduction_total_to_start_TEST,reduction_start_to_confirm_TEST,reduction_total_to_confirm_TEST,conversion_rate%
age_category,,,,
20-30,-0.861361,-0.131448,-0.879585,12.04
30-40,-0.857333,-0.250667,-0.893095,10.69
40-50,-0.857358,-0.143505,-0.877828,12.22
50-60,-0.865470,-0.161372,-0.887179,11.28
60-70,-0.865616,-0.128086,-0.882829,11.72
over 70,-0.865738,-0.315353,-0.908078,9.19
under 20,-0.835249,-0.302326,-0.885057,11.49

In [225]:
control_perf = control_concat.drop(columns=['group', 'size_total', 'size_start', 'size_confirm'])
control_perf = control_perf.rename(columns={'reduction_total_to_start': 'reduction_total_to_start_CONTROL', 'reduction_start_to_confirm': 'reduction_start_to_confirm_CONTROL', 'reduction_total_to_confirm': 'reduction_total_to_confirm_CONTROL', 'conversion_rate': 'conversion_rate_CONTROL'})
control_perf

,reduction_total_to_start_CONTROL,reduction_start_to_confirm_CONTROL,reduction_total_to_confirm_CONTROL,conversion_rate%
age_category,,,,
20-30,-0.868153,-0.242363,-0.900107,9.99
30-40,-0.868207,-0.268041,-0.903533,9.65
40-50,-0.868604,-0.274102,-0.904620,9.54
50-60,-0.870968,-0.321429,-0.912442,8.76
60-70,-0.888269,-0.241164,-0.915215,8.48
over 70,-0.885086,-0.457447,-0.937653,6.23
under 20,-0.862559,-0.103448,-0.876777,12.32

In [227]:
perf_concat = pd.concat([control_perf, test_perf], axis=1, join='outer', ignore_index=False)
perf_concat

,reduction_total_to_start_CONTROL,reduction_start_to_confirm_CONTROL,reduction_total_to_confirm_CONTROL,conversion_rate%,reduction_total_to_start_TEST,reduction_start_to_confirm_TEST,reduction_total_to_confirm_TEST,conversion_rate%
age_category,,,,,,,,
20-30,-0.868153,-0.242363,-0.900107,9.99,-0.861361,-0.131448,-0.879585,12.04
30-40,-0.868207,-0.268041,-0.903533,9.65,-0.857333,-0.250667,-0.893095,10.69
40-50,-0.868604,-0.274102,-0.904620,9.54,-0.857358,-0.143505,-0.877828,12.22
50-60,-0.870968,-0.321429,-0.912442,8.76,-0.865470,-0.161372,-0.887179,11.28
60-70,-0.888269,-0.241164,-0.915215,8.48,-0.865616,-0.128086,-0.882829,11.72
over 70,-0.885086,-0.457447,-0.937653,6.23,-0.865738,-0.315353,-0.908078,9.19
under 20,-0.862559,-0.103448,-0.876777,12.32,-0.835249,-0.302326,-0.885057,11.49

In [229]:
perf_concat['rel_perf_total_to_start'] = ((perf_concat['reduction_total_to_start_TEST']+1)/(perf_concat['reduction_total_to_start_CONTROL']+1)-1) # OK
perf_concat['rel_perf_start_to_confirm'] = ((perf_concat['reduction_start_to_confirm_TEST']+1)/(perf_concat['reduction_start_to_confirm_CONTROL']+1)-1) # OK
perf_concat['rel_perf_total_to_confirm'] = ((perf_concat['reduction_total_to_confirm_TEST']+1)/(perf_concat['reduction_total_to_confirm_CONTROL']+1)-1) # OK
perf_concat_dropped = perf_concat.drop(columns=['reduction_total_to_start_CONTROL', 'reduction_start_to_confirm_CONTROL', 'reduction_total_to_confirm_CONTROL', 'conversion_rate_CONTROL', 'reduction_total_to_start_TEST', 'reduction_start_to_confirm_TEST', 'reduction_total_to_confirm_TEST', 'conversion_rate_TEST'])
rel_perf_testgrtocontrolgr = perf_concat_dropped
rel_perf_testgrtocontrolgr

KeyError: "['reduction_total_to_start_CONTROL' 'reduction_start_to_confirm_CONTROL'\n 'reduction_total_to_confirm_CONTROL' 'conversion_rate_CONTROL'\n 'reduction_total_to_start_TEST' 'reduction_start_to_confirm_TEST'\n 'reduction_total_to_confirm_TEST' 'conversion_rate_TEST'] not found in axis"

 -- Tables we can use --

In [232]:
# Table overview conversion rate per age group

concat_along_rows2 = concat_along_rows.drop(columns=['reduction_total_to_start', 'reduction_start_to_confirm', 'reduction_total_to_confirm'])
concat_along_rows2

# concat_along_rows2.to_csv('conversion_rate_comparison.csv', index=True)
concat_along_rows2

                group  size_total  size_start  size_confirm  conversion_rate%
age_category
20-30         control        3724         491           372              9.99
20-30            test        4335         601           522             12.04
30-40         control        4416         582           426              9.65
30-40            test        5257         750           562             10.69
40-50         control        4026         529           384              9.54
40-50            test        4641         662           567             12.22
50-60         control        5208         672           456              8.76
50-60            test        5850         787           660             11.28
60-70         control        4305         481           365              8.48
60-70            test        4822         648           565             11.72
over 70       control        1636         188           102              6.23
over 70          test        1795         241           165              9.19
under 20      control         211          29            26             12.32
under 20         test         261          43            30             11.49

In [234]:
# Comparison between control and test and the improvement rate

pivot_conversion = concat_along_rows2.pivot_table(index='age_category', columns='group', values='conversion_rate%')
pivot_conversion['improvement_rate%'] = (pivot_conversion['test'] / pivot_conversion['control']) - 1
pivot_conversion

# pivot_conversion.to_csv('pivot_conversion.csv', index=True)

group         control   test  improvement_rate%
age_category
20-30            9.99  12.04           0.205205
30-40            9.65  10.69           0.107772
40-50            9.54  12.22           0.280922
50-60            8.76  11.28           0.287671
60-70            8.48  11.72           0.382075
over 70          6.23   9.19           0.475120
under 20        12.32  11.49          -0.067370

In [236]:
# Null Hypothesis (\(H_0\))): The completion rate for the Test group (new design) is equal to the completion rate for the Control group (old design).
# Alternative Hypothesis (\(H_a\))): The completion rate for the Test group (new design) is not equal to the completion rate for the Control group (old design).

import numpy as np
from scipy import stats

# Conversion rates for control and test groups from the table
control = np.array([65.09, 64.49, 64.93, 60.20, 54.82, 41.75, 69.19])
test = np.array([73.54, 69.58, 69.38, 67.81, 66.92, 52.59, 77.78])

# Paired t-test
t_stat, p_value = stats.ttest_rel(test, control)

# Print results
print(f"T-statistic: {t_stat}")
print(f"P-value: {p_value}")

# Interpretation
alpha = 0.05
if p_value < alpha:
    print("The difference is statistically significant.")
else:
    print("The difference is not statistically significant.")

T-statistic: 7.759270911811826
P-value: 0.00024096170405184884
The difference is statistically significant.

In [238]:
# Completion Rate with a Cost-Effectiveness Threshold Maurits
# Null Hypothesis (\(H_0\)): The completion rate for the Test group (new design) is equal to or less than the completion rate for the Control group (old design) increased by 5%.
# Alternative Hypothesis (\(H_a\)): The completion rate for the Test group (new design) is greater than the completion rate for the Control group (old design) increased by 5%.

import numpy as np
from scipy import stats

# Conversion rates for control and test groups
control = np.array([65.09, 64.49, 64.93, 60.20, 54.82, 41.75, 69.19])
test = np.array([73.54, 69.58, 69.38, 67.81, 66.92, 52.59, 77.78])

# Adjust control rates by adding 5%
control_adjusted = control * 1.05

# Perform one-sided paired t-test: alternative hypothesis (test > control + 5%)
t_stat, p_value = stats.ttest_rel(test, control_adjusted)

# Since ttest_rel performs a two-sided test, divide p-value by 2 to get one-sided result
p_value_one_sided = p_value / 2

# Print results
print(f"T-statistic: {t_stat}")
print(f"One-sided P-value: {p_value_one_sided}")

# Interpretation
alpha = 0.05
if p_value_one_sided < alpha and t_stat > 0:
    print("Reject the null hypothesis: Test group performed significantly better by more than 5%.")
else:
    print("Fail to reject the null hypothesis: Test group did not perform significantly better by more than 5%.")

T-statistic: 4.4137090362316895
One-sided P-value: 0.0022506666179519462
Reject the null hypothesis: Test group performed significantly better by more than 5%.

In [240]:
pivot_concat_bal = pd.concat([pivot_conversion, average_bal_grouped.round(0)], axis=1, join='outer', ignore_index=False)
pivot_concat_bal = pivot_concat_bal.rename(columns={'bal': 'average_insured_value'})
pivot_concat_bal['yearly_collected_premium_(0.7%)'] = (pivot_concat_bal['average_insured_value']*0.007).round(2)
manual_data = [60, 50, 40, 30, 20, 10, 70]

# # Inserting the new column at position 1 (second column)
pivot_concat_bal.insert(5, 'years_to_pay', manual_data)
pivot_concat_bal['FV_at_6%APY'] = ((pivot_concat_bal['yearly_collected_premium_(0.7%)'])*(1.06**pivot_concat_bal['years_to_pay'])).round(2)
pivot_concat_bal['increase_FV_newUI_per_sale'] = ((pivot_concat_bal['FV_at_6%APY']*(1+pivot_concat_bal['improvement_rate%']))-pivot_concat_bal['FV_at_6%APY']).round(2)
pivot_concat_bal
# pivot_concat_bal.to_csv('financial_effect.csv', index=True)

,control,test,improvement_rate%,average_insured_value,yearly_collected_premium_(0.7%),years_to_pay,FV_at_6%APY,increase_FV_newUI_per_sale
age_category,,,,,,,,
20-30,9.99,12.04,0.205205,62182.0,435.27,60,14358.55,2946.45
30-40,9.65,10.69,0.107772,94728.0,663.10,50,12214.40,1316.37
40-50,9.54,12.22,0.280922,140107.0,980.75,40,10087.72,2833.87
50-60,8.76,11.28,0.287671,179634.0,1257.44,30,7222.10,2077.59
60-70,8.48,11.72,0.382075,223085.0,1561.60,20,5008.26,1913.53
over 70,6.23,9.19,0.475120,255004.0,1785.03,10,3196.72,1518.83
under 20,12.32,11.49,-0.067370,41335.0,289.35,70,17093.62,-1151.60

In [242]:
pivot_concat_bal2 = pivot_concat_bal.drop(columns=['control', 'test'])
pivot_concat_bal2

,improvement_rate%,average_insured_value,yearly_collected_premium_(0.7%),years_to_pay,FV_at_6%APY,increase_FV_newUI_per_sale
age_category,,,,,,
20-30,0.205205,62182.0,435.27,60,14358.55,2946.45
30-40,0.107772,94728.0,663.10,50,12214.40,1316.37
40-50,0.280922,140107.0,980.75,40,10087.72,2833.87
50-60,0.287671,179634.0,1257.44,30,7222.10,2077.59
60-70,0.382075,223085.0,1561.60,20,5008.26,1913.53
over 70,0.475120,255004.0,1785.03,10,3196.72,1518.83
under 20,-0.067370,41335.0,289.35,70,17093.62,-1151.60

In [244]:
# Completion Rate with a Cost-Effectiveness Threshold Maurits
# Null Hypothesis (\(H_0\)): The completion rate for the Test group (new design) is equal to or less than the completion rate for the Control group (old design) increased by 5%.
# Alternative Hypothesis (\(H_a\)): The completion rate for the Test group (new design) is greater than the completion rate for the Control group (old design) increased by 5%.

# Two proportion Z test

import pandas as pd
from statsmodels.stats.proportion import proportions_ztest

#conversion rate control: 0.604013
#conversion rate test: 0.682727

p0 = 1/0.604013
p1 = (1/p0)
p01 = 1/0.682727
p2 = (1/p01)

numerator = np.array([1,1])
denominator = np.array([p0,p01])

z_stat, pvalue = proportions_ztest(numerator, denominator)
print("Z statistic is: ", z_stat) 
print("P value is: ", pvalue)

Z statistic is:  -0.1446506336019372
P value is:  0.8849867177735694

In [246]:
# Not sure to use this one, too much data

pivot_table2 = concat_along_rows2.pivot_table(index='age_category', columns='group', values=['size_total', 'size_confirm', 'conversion_rate%'])
pivot_table2

# pivot_table2.to_csv('pivot_conversion2.csv', index=True)

             conversion_rate%        size_confirm        size_total
group                 control   test      control   test    control    test
age_category
20-30                    9.99  12.04        372.0  522.0     3724.0  4335.0
30-40                    9.65  10.69        426.0  562.0     4416.0  5257.0
40-50                    9.54  12.22        384.0  567.0     4026.0  4641.0
50-60                    8.76  11.28        456.0  660.0     5208.0  5850.0
60-70                    8.48  11.72        365.0  565.0     4305.0  4822.0
over 70                  6.23   9.19        102.0  165.0     1636.0  1795.0
under 20                12.32  11.49         26.0   30.0      211.0   261.0

In [248]:
# Table overview conversion rate test and control

concat_along_rows2 = concat_along_rows2.groupby(['group']).sum()
# concat_along_rows2 = concat_along_rows2.drop(columns=['conversion_rate%'])
concat_along_rows2['conversion_rate%'] = concat_along_rows2['size_confirm'] / concat_along_rows2['size_total']
concat_along_rows2

# concat_along_rows2.to_csv('conversion_test_control.csv', index=True)

         size_total  size_start  size_confirm  conversion_rate%
group
control       23526        2972          2131          0.090581
test          26961        3732          3071          0.113905

In [250]:
# Error rate info

wentback_test = df_test[df_test['went_back'] == True]
wentback_control = df_control[df_control['went_back'] == True]
error_rate_test = (wentback_test['went_back'].count() / test_age_start.sum()).round(4)*100
error_rate_control = ((wentback_control['went_back'].count() / control_age_start.sum())*100).round(2)
relperf_errorrate = ((error_rate_control / error_rate_test)-1).round(4)*100

print("Findings: \n")
print(f"The error rate of the test group was {error_rate_test}%, while the error rate of the control group was {error_rate_control}%.")
print(f"The improvement of error rate in the test group was {relperf_errorrate}%.")

Findings:

The error rate of the test group was 24.3%, while the error rate of the control group was 30.32%.
The improvement of error rate in the test group was 24.77%.

In [252]:
df_test.columns

Index(['Unnamed: 0', 'client_id', 'level_1', 'reached_confirm', 'went_back',
       'TD', 'SD', 'S1', 'S2', 'S3', 'BS', 'BS1', 'BS2', 'Variation',
       'clnt_tenure_yr', 'clnt_tenure_mnth', 'clnt_age', 'gendr', 'num_accts',
       'bal', 'calls_6_mnth', 'logons_6_mnth', 'clnt_age_rounded',
       'age_category'],
      dtype='object')

In [254]:
# Error rate: which step caused most errors? Investigating backtracking time Step1 (BS1)

population_test_whostarted = test_age_start.sum()
population_control_whostarted = control_age_start.sum()
adjustment = population_test_whostarted / population_control_whostarted # have to adjust the number since the test group is bigger and spends therefore already more time on backtracking step 1.
total_backtrackingstep1_test = (df_test['BS1'].sum()).round(2)
total_backtrackingstep1_test_count = df_test['BS1'].count()
total_backtrackingstep1_control = df_control['BS1'].sum()
total_backtrackingstep1_control_count = (df_control['BS1'].count()*adjustment).round(0)
total_backtrackingstep1_control_adj = (total_backtrackingstep1_control * adjustment).round()
relperf_bs1 = (((total_backtrackingstep1_control_adj / total_backtrackingstep1_test)-1)*100).round(2)
relperf_bs1count = (((total_backtrackingstep1_control_count / total_backtrackingstep1_test_count)-1)*100).round(2)

print("Findings: \n")
print(f"Total backtracking time to STEP1 for the test group is {total_backtrackingstep1_test} minutes, with a count of {total_backtrackingstep1_test_count} times.")
print(f"Total adjusted backtracking time to STEP1 for the control group is {total_backtrackingstep1_control_adj} minutes, with an adjusted count of {total_backtrackingstep1_control_count} times.")
print(f"The improvement of backtracking total time step 1 in the test group was {relperf_bs1}%.")
print(f"The improvement of backtracking total occurences in step 1 in the test group was {relperf_bs1count}%.")


# the control group performed worse than test by xxxx percent

Findings:

Total backtracking time to STEP1 for the test group is 372.75 minutes, with a count of 632 times.
Total adjusted backtracking time to STEP1 for the control group is 425.0 minutes, with an adjusted count of 689.0 times.
The improvement of backtracking total time step 1 in the test group was 14.02%.
The improvement of backtracking total occurences in step 1 in the test group was 9.02%.

In [256]:
step1_data = {
    "Group": ["Test", "Control"],
    "Return Time to step1 (min)": [total_backtrackingstep1_test, total_backtrackingstep1_control_adj],
    "Returns to step1 (count)": [total_backtrackingstep1_test_count, total_backtrackingstep1_control_count],
    "Improvement in time (%)": [relperf_bs1, None],
    "Improvement in count (%)": [relperf_bs1count, None]
}

# Create a pandas DataFrame for the backtracking step 1 findings
step1_df = pd.DataFrame(step1_data)
step1_df

# step1_df.to_csv('BS1_test_control_comparison.csv', index=True)

,Group,Return Time to step1 (min),Returns to step1 (count),Improvement in time (%),Improvement in count (%)
0,Test,372.75,632.0,14.02,9.02
1,Control,425.00,689.0,NaN,NaN

In [258]:
# Error rate: which step caused most errors? Investigating backtracking time Step1 (BS2)

population_test_whostarted = test_age_start.sum()
population_control_whostarted = control_age_start.sum()
adjustment2 = population_test_whostarted / population_control_whostarted # have to adjust the number since the test group is bigger and spends therefore already more time on backtracking step 1.
total_backtrackingstep2_test = (df_test['BS2'].sum()).round(2)
total_backtrackingstep2_test_count = df_test['BS2'].count()
total_backtrackingstep2_control = df_control['BS2'].sum()
total_backtrackingstep2_control_count = (df_control['BS2'].count()*adjustment2).round(0)
total_backtrackingstep2_control_adj = (total_backtrackingstep2_control * adjustment2).round()
relperf_bs2 = (((total_backtrackingstep2_control_adj / total_backtrackingstep2_test)-1)*100).round(2)
relperf_bs2count = (((total_backtrackingstep2_control_count / total_backtrackingstep2_test_count)-1)*100).round(2)

print("Findings: \n")
print(f"Total backtracking time to STEP2 for the test group is {total_backtrackingstep2_test} minutes, with a count of {total_backtrackingstep2_test_count} times.")
print(f"Total adjusted backtracking time to STEP2 for the control group is {total_backtrackingstep2_control_adj} minutes, with an adjusted count of {total_backtrackingstep2_control_count} times.")
print(f"The improvement of backtracking total time step 2 in the test group was {relperf_bs2}%.")
print(f"The improvement of backtracking total occurences in step 2 in the test group was {relperf_bs2count}%.")

Findings:

Total backtracking time to STEP2 for the test group is 322.53 minutes, with a count of 349 times.
Total adjusted backtracking time to STEP2 for the control group is 385.0 minutes, with an adjusted count of 502.0 times.
The improvement of backtracking total time step 2 in the test group was 19.37%.
The improvement of backtracking total occurences in step 2 in the test group was 43.84%.

In [260]:
step2_data = {
    "Group": ["Test", "Control"],
    "Return time to step2 (min)": [total_backtrackingstep2_test, total_backtrackingstep2_control_adj],
    "Returns to step2 (count)": [total_backtrackingstep2_test_count, total_backtrackingstep2_control_count],
    "Improvement in time (%)": [relperf_bs2, None],
    "Improvement in count (%)": [relperf_bs2count, None]
}
step2_df = pd.DataFrame(step2_data)
step2_df

# step2_df.to_csv('BS2_test_control_comparison.csv', index=True)

,Group,Return time to step2 (min),Returns to step2 (count),Improvement in time (%),Improvement in count (%)
0,Test,322.53,349.0,19.37,43.84
1,Control,385.00,502.0,NaN,NaN

In [262]:
# Error rate: which step caused most errors? Comparing BS1 and BS2

# time
time_diff_bs1bs2_test = (total_backtrackingstep1_test - total_backtrackingstep2_test).round(0)
time_diff_bs1bs2_control = total_backtrackingstep1_control_adj - total_backtrackingstep2_control_adj


# count
count_diff_bs1bs2_test = total_backtrackingstep1_test_count - total_backtrackingstep2_test_count
count_diff_bs1bs2_control = total_backtrackingstep1_control_count - total_backtrackingstep2_control_count

print("Findings: \n")
print("For time:")
print(f"For test, total time spent for BS1 was {total_backtrackingstep1_test} minutes, while BS2 accounted for {total_backtrackingstep2_test} minutes. Therefore, BS1 had a higher time value with {time_diff_bs1bs2_test} minutes.")
print(f"For control, total time spent for BS1 was {total_backtrackingstep1_control_adj} minutes, while BS2 accounted for {total_backtrackingstep2_control_adj} minutes. Therefore, BS1 had a higher time value with {time_diff_bs1bs2_control} minutes. \n")
print("For count:")
print(f"For test, total amount of errors for BS1 was {total_backtrackingstep1_test_count} times, while BS2 accounted for {total_backtrackingstep2_test_count} times. Therefore, BS1 had a higher time value with {count_diff_bs1bs2_test} times.")
print(f"For control, total amount of errors for BS1 was {total_backtrackingstep1_control_count} times, while BS2 accounted for {total_backtrackingstep2_control_count} times. Therefore, BS1 had a higher time value with {count_diff_bs1bs2_control} times.")

Findings:

For time:
For test, total time spent for BS1 was 372.75 minutes, while BS2 accounted for 322.53 minutes. Therefore, BS1 had a higher time value with 50.0 minutes.
For control, total time spent for BS1 was 425.0 minutes, while BS2 accounted for 385.0 minutes. Therefore, BS1 had a higher time value with 40.0 minutes.

For count:
For test, total amount of errors for BS1 was 632 times, while BS2 accounted for 349 times. Therefore, BS1 had a higher time value with 283 times.
For control, total amount of errors for BS1 was 689.0 times, while BS2 accounted for 502.0 times. Therefore, BS1 had a higher time value with 187.0 times.

In [264]:
# Create the data for the time table
time_data = {
    "Group": ["Test", "Control"],
    "BS1 Time (min)": [total_backtrackingstep1_test, total_backtrackingstep1_control_adj],
    "BS2 Time (min)": [total_backtrackingstep2_test, total_backtrackingstep2_control_adj],
    "BS1 - BS2 Time Difference (min)": [time_diff_bs1bs2_test, time_diff_bs1bs2_control]
}

# Create the data for the error count table
count_data = {
    "Group": ["Test", "Control"],
    "BS1 Errors": [total_backtrackingstep1_test_count, total_backtrackingstep1_control_count],
    "BS2 Errors": [total_backtrackingstep2_test_count, total_backtrackingstep2_control_count],
    "BS1 - BS2 Error Difference": [count_diff_bs1bs2_test, count_diff_bs1bs2_control]
}

# Create pandas DataFrames for both tables
time_df = pd.DataFrame(time_data)
count_df = pd.DataFrame(count_data)