In [7]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

%matplotlib inline

In [8]:
df = pd.read_csv('/Users/maurits/Documents/Ironhack/week_05/gpw5+6/vanguard-ab-test/data/clean/dataset_TVC_MS.csv')

In [9]:
df.head()

,Unnamed: 0,client_id,level_1,reached_confirm,went_back,TD,SD,S1,S2,S3,...,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gendr,num_accts,bal,calls_6_mnth,logons_6_mnth,clnt_age_rounded,age_category
0,0,555,reached_confirm,True,NaN,NaN,NaN,NaN,NaN,NaN,...,3.0,46.0,29.5,U,2.0,25454.66,2.0,6.0,30.0,20-30
1,1,555,total_duration_minutes,NaN,NaN,2.633333,NaN,NaN,NaN,NaN,...,3.0,46.0,29.5,U,2.0,25454.66,2.0,6.0,30.0,20-30
2,2,555,step_1_duration,NaN,NaN,NaN,NaN,0.533333,NaN,NaN,...,3.0,46.0,29.5,U,2.0,25454.66,2.0,6.0,30.0,20-30
3,3,555,step_2_duration,NaN,NaN,NaN,NaN,NaN,1.65,NaN,...,3.0,46.0,29.5,U,2.0,25454.66,2.0,6.0,30.0,20-30
4,4,555,went_back,NaN,False,NaN,NaN,NaN,NaN,NaN,...,3.0,46.0,29.5,U,2.0,25454.66,2.0,6.0,30.0,20-30

In [11]:
# def convert_minutes_to_min_sec(minutes):
#     total_seconds = minutes * 60  # Convert minutes to total seconds
#     mins, sec = divmod(total_seconds, 60)
#     whole_seconds = int(sec)
#     fractional_seconds = sec - whole_seconds
#     return f"{int(mins)}:{whole_seconds}"
#     # return f"{int(mins)} minutes, {whole_seconds} seconds, {fractional_seconds:.2f} fractional seconds" 

# # Apply the function to the dataset
# td_concat['converted_time'] = td_concat['TD_control'].apply(convert_minutes_to_min_sec)
# td_concat

In [12]:
df.columns

Index(['Unnamed: 0', 'client_id', 'level_1', 'reached_confirm', 'went_back',
       'TD', 'SD', 'S1', 'S2', 'S3', 'BS', 'BS1', 'BS2', 'Variation',
       'clnt_tenure_yr', 'clnt_tenure_mnth', 'clnt_age', 'gendr', 'num_accts',
       'bal', 'calls_6_mnth', 'logons_6_mnth', 'clnt_age_rounded',
       'age_category'],
      dtype='object')

Find means of all process steps (control and test separately) Maurits
group by all
Group by sex
group by age group
group by ...

Find which steps cause most errors and for how long Maurits
group by all
Group by sex
group by age group
group by whatever

In [18]:
td_mean_control_all = df.groupby(['Variation'])['TD'].mean()
td_mean_control_all = df.groupby(['Variation', 'gendr'])['TD'].mean()
td_mean_control_all = df.groupby(['Variation', 'gendr', 'age_category'])['TD'].mean()

In [20]:
df_control = df[df['Variation'] == 'Control']
df_test = df[df['Variation'] == 'Test']

In [22]:
td_mean_control = df_control.groupby(['gendr', 'age_category'])['TD'].mean()
td_mean_test = df_test.groupby(['gendr', 'age_category'])['TD'].mean()
td_concat = pd.concat([td_mean_control, td_mean_test], axis=1, join='outer', ignore_index=True)
td_concat = td_concat.rename(columns={0: 'TD_control', 1: 'TD_test'})
td_concat['TD_difference'] = td_concat['TD_test'] - td_concat['TD_control']
td_concat['TD_difference%'] = (td_concat['TD_test'] / td_concat['TD_control'])-1
td_concat = td_concat.dropna()
# td_concat = td_concat.groupby(['age_category']).mean()
td_concat

                    TD_control   TD_test  TD_difference  TD_difference%
gendr age_category
F     20-30           5.284588  4.884158      -0.400430       -0.075773
      30-40           5.170363  4.871830      -0.298533       -0.057739
      40-50           6.377277  6.132468      -0.244809       -0.038388
      50-60           7.118442  7.319080       0.200637        0.028186
      60-70           7.477143  7.517467       0.040324        0.005393
      over 70         7.881373  7.480607      -0.400765       -0.050850
      under 20        4.852778  6.407971       1.555193        0.320475
M     20-30           4.873219  4.938842       0.065622        0.013466
      30-40           5.367931  4.900284      -0.467647       -0.087119
      40-50           5.875737  5.796816      -0.078921       -0.013432
      50-60           7.166349  7.071899      -0.094450       -0.013180
      60-70           7.862484  7.659217      -0.203268       -0.025853
      over 70         8.734422  8.468985      -0.265437       -0.030390
      under 20        4.561806  4.296795      -0.265011       -0.058093
U     20-30           4.953109  4.876063      -0.077046       -0.015555
      30-40           5.486319  5.285878      -0.200442       -0.036535
      40-50           6.212801  6.091822      -0.120979       -0.019472
      50-60           7.469401  7.339753      -0.129648       -0.017357
      60-70           7.477168  7.326052      -0.151115       -0.020210
      over 70         8.774105  7.027635      -1.746469       -0.199048
      under 20        5.011538  4.824638      -0.186901       -0.037294

In [24]:
sd_mean_control = df_control.groupby(['gendr', 'age_category'])['SD'].mean()
sd_mean_test = df_test.groupby(['gendr', 'age_category'])['SD'].mean()
sd_concat = pd.concat([sd_mean_control, sd_mean_test], axis=1, join='outer', ignore_index=True)
sd_concat = sd_concat.rename(columns={0: 'SD_control', 1: 'SD_test'})
sd_concat['SD_difference'] = sd_concat['SD_test'] - sd_concat['SD_control']
sd_concat['SD_difference%'] = (sd_concat['SD_test'] / sd_concat['SD_control'])-1
sd_concat = sd_concat.dropna()
sd_concat

                    SD_control   SD_test  SD_difference  SD_difference%
gendr age_category
F     20-30           0.581550  0.558258      -0.023292       -0.040052
      30-40           0.580596  0.593639       0.013043        0.022465
      40-50           0.696552  0.693374      -0.003178       -0.004563
      50-60           0.823145  0.815936      -0.007209       -0.008758
      60-70           0.953351  0.884443      -0.068908       -0.072280
      over 70         1.054084  0.974394      -0.079691       -0.075602
      under 20        0.632292  0.749462       0.117171        0.185311
M     20-30           0.527012  0.630473       0.103460        0.196315
      30-40           0.575192  0.641364       0.066172        0.115044
      40-50           0.615032  0.672286       0.057254        0.093091
      50-60           0.831704  0.784079      -0.047625       -0.057262
      60-70           0.962727  0.851963      -0.110764       -0.115052
      over 70         1.192299  1.019612      -0.172687       -0.144835
      under 20        0.805376  0.322381      -0.482995       -0.599714
U     20-30           0.551553  0.578475       0.026922        0.048811
      30-40           0.594913  0.643886       0.048972        0.082319
      40-50           0.696260  0.717618       0.021357        0.030674
      50-60           0.831702  0.759990      -0.071713       -0.086224
      60-70           0.974887  0.874044      -0.100843       -0.103441
      over 70         1.139521  0.922052      -0.217469       -0.190842
      under 20        0.492070  0.593615       0.101545        0.206363

In [26]:
s1_mean_control = df_control.groupby(['gendr', 'age_category'])['S1'].mean()
s1_mean_test = df_test.groupby(['gendr', 'age_category'])['S1'].mean()
s1_concat = pd.concat([s1_mean_control, s1_mean_test], axis=1, join='outer', ignore_index=True)
s1_concat = s1_concat.rename(columns={0: 'S1_control', 1: 'S1_test'})
s1_concat['S1_difference'] = s1_concat['S1_test'] - s1_concat['S1_control']
s1_concat['S1_difference%'] = (s1_concat['S1_test'] / s1_concat['S1_control'])-1
s1_concat = s1_concat.dropna()
# s1_concat = s1_concat.groupby(['age_category']).mean()
s1_concat

                    S1_control   S1_test  S1_difference  S1_difference%
gendr age_category
F     20-30           0.430788  0.606165       0.175376        0.407106
      30-40           0.487122  0.602127       0.115005        0.236090
      40-50           0.622612  0.688685       0.066073        0.106122
      50-60           0.785624  0.826054       0.040430        0.051463
      60-70           0.872416  0.895483       0.023067        0.026441
      over 70         0.969466  1.031124       0.061658        0.063600
      under 20        0.366667  0.631609       0.264943        0.722571
M     20-30           0.443127  0.646589       0.203463        0.459153
      30-40           0.468151  0.630447       0.162296        0.346675
      40-50           0.657555  0.710967       0.053412        0.081228
      50-60           0.770109  0.823087       0.052978        0.068792
      60-70           0.902710  0.942018       0.039308        0.043545
      over 70         1.061067  1.050881      -0.010186       -0.009600
      under 20        0.300521  0.632895       0.332374        1.105993
U     20-30           0.350646  0.641971       0.291324        0.830822
      30-40           0.412608  0.630464       0.217855        0.527995
      40-50           0.506431  0.666957       0.160526        0.316974
      50-60           0.630247  0.830367       0.200120        0.317526
      60-70           0.720119  0.900858       0.180738        0.250984
      over 70         0.841709  1.018673       0.176963        0.210243
      under 20        0.324861  0.709028       0.384167        1.182557

In [28]:
s2_mean_control = df_control.groupby(['gendr', 'age_category'])['S2'].mean()
s2_mean_test = df_test.groupby(['gendr', 'age_category'])['S2'].mean()
s2_concat = pd.concat([s2_mean_control, s2_mean_test], axis=1, join='outer', ignore_index=True)
s2_concat = s2_concat.rename(columns={0: 'S2_control', 1: 'S2_test'})
s2_concat['S2_difference'] = s2_concat['S2_test'] - s2_concat['S2_control']
s2_concat['S2_difference%'] = (s2_concat['S2_test'] / s2_concat['S2_control'])-1
s2_concat = s2_concat.dropna()
# s2_concat = s2_concat.groupby(['age_category']).mean()
s2_concat

                    S2_control   S2_test  S2_difference  S2_difference%
gendr age_category
F     20-30           1.513117  1.350867      -0.162250       -0.107229
      30-40           1.504962  1.393549      -0.111413       -0.074030
      40-50           1.706681  1.591914      -0.114767       -0.067246
      50-60           1.678051  1.621082      -0.056968       -0.033949
      60-70           1.151270  1.200657       0.049388        0.042898
      over 70         1.050293  1.131298       0.081005        0.077126
      under 20        1.230556  1.500667       0.270111        0.219503
M     20-30           1.629326  1.492803      -0.136523       -0.083791
      30-40           1.689833  1.545639      -0.144194       -0.085330
      40-50           1.862259  1.687431      -0.174828       -0.093879
      50-60           1.885525  1.778743      -0.106782       -0.056633
      60-70           1.319377  1.267388      -0.051990       -0.039405
      over 70         1.196251  1.213680       0.017429        0.014570
      under 20        1.443889  1.169271      -0.274618       -0.190193
U     20-30           1.555663  1.413255      -0.142408       -0.091542
      30-40           1.647744  1.463019      -0.184726       -0.112108
      40-50           1.859111  1.685403      -0.173708       -0.093436
      50-60           1.838380  1.740476      -0.097904       -0.053256
      60-70           1.351026  1.249497      -0.101529       -0.075149
      over 70         1.150813  1.182164       0.031351        0.027242
      under 20        1.444872  1.463333       0.018462        0.012777

In [30]:
s3_mean_control = df_control.groupby(['gendr', 'age_category'])['S3'].mean()
s3_mean_test = df_test.groupby(['gendr', 'age_category'])['S3'].mean()
s3_concat = pd.concat([s3_mean_control, s3_mean_test], axis=1, join='outer', ignore_index=True)
s3_concat = s3_concat.rename(columns={0: 'S3_control', 1: 'S3_test'})
s3_concat['S3_difference'] = s3_concat['S3_test'] - s3_concat['S3_control']
s3_concat['S3_difference%'] = (s3_concat['S3_test'] / s3_concat['S3_control'])-1
s3_concat = s3_concat.dropna()
# s3_concat = s3_concat.groupby(['age_category']).mean()
s3_concat

                    S3_control   S3_test  S3_difference  S3_difference%
gendr age_category
F     20-30           1.407005  1.060733      -0.346272       -0.246106
      30-40           1.403553  1.053206      -0.350347       -0.249615
      40-50           1.664725  1.300185      -0.364540       -0.218979
      50-60           1.979107  1.719006      -0.260100       -0.131423
      60-70           2.314360  2.016574      -0.297787       -0.128669
      over 70         2.547556  2.363433      -0.184124       -0.072275
      under 20        1.272222  1.073077      -0.199145       -0.156533
M     20-30           1.337054  0.964462      -0.372591       -0.278666
      30-40           1.338935  0.977809      -0.361126       -0.269711
      40-50           1.579530  1.221544      -0.357985       -0.226640
      50-60           1.845775  1.609791      -0.235984       -0.127851
      60-70           2.285594  1.983422      -0.302172       -0.132207
      over 70         2.821964  2.362709      -0.459255       -0.162743
      under 20        1.383929  1.039583      -0.344345       -0.248817
U     20-30           1.395868  0.959008      -0.436860       -0.312967
      30-40           1.448020  1.030822      -0.417198       -0.288116
      40-50           1.639271  1.354872      -0.284399       -0.173491
      50-60           2.098559  1.702819      -0.395740       -0.188577
      60-70           2.362816  1.967882      -0.394934       -0.167146
      over 70         2.564355  2.301235      -0.263121       -0.102607
      under 20        1.578479  0.986073      -0.592406       -0.375302

In [32]:
# No data
bs_mean_control = df_control.groupby(['gendr', 'age_category'])['BS'].mean()
bs_mean_test = df_test.groupby(['gendr', 'age_category'])['BS'].mean()
bs_concat = pd.concat([bs_mean_control, bs_mean_test], axis=1, join='outer', ignore_index=True)
bs_concat = bs_concat.rename(columns={0: 'BS_control', 1: 'BS_test'})
bs_concat['BS_difference'] = bs_concat['BS_test'] - bs_concat['BS_control']
bs_concat['BS_difference%'] = (bs_concat['BS_test'] / bs_concat['BS_control'])-1
bs_concat = bs_concat.dropna()
# bs_concat = bs_concat.groupby(['age_category']).mean()
bs_concat

Empty DataFrame
Columns: [BS_control, BS_test, BS_difference, BS_difference%]
Index: []

In [34]:
bs1_mean_control = df_control.groupby(['gendr', 'age_category'])['BS1'].mean()
bs1_mean_test = df_test.groupby(['gendr', 'age_category'])['BS1'].mean()
bs1_concat = pd.concat([bs1_mean_control, bs1_mean_test], axis=1, join='outer', ignore_index=True)
bs1_concat = bs1_concat.rename(columns={0: 'BS1_control', 1: 'BS1_test'})
bs1_concat['BS1_difference'] = bs1_concat['BS1_test'] - bs1_concat['BS1_control']
bs1_concat['BS1_difference%'] = (bs1_concat['BS1_test'] / bs1_concat['BS1_control'])-1
bs1_concat = bs1_concat.dropna()
# bs1_concat = bs1_concat.groupby(['age_category']).mean()
bs1_concat

                    BS1_control  BS1_test  BS1_difference  BS1_difference%
gendr age_category
F     20-30            0.449333  0.492708        0.043375         0.096532
      30-40            0.529344  0.559074        0.029730         0.056164
      40-50            0.512815  0.632756        0.119941         0.233888
      50-60            0.640847  0.618019       -0.022828        -0.035621
      60-70            0.702057  0.654969       -0.047088        -0.067071
      over 70          0.703465  0.597843       -0.105622        -0.150146
      under 20         1.020000  0.568333       -0.451667        -0.442810
M     20-30            0.507037  0.622549        0.115512         0.227818
      30-40            0.442822  0.519459        0.076638         0.173067
      40-50            0.550294  0.517647       -0.032647        -0.059326
      50-60            0.678241  0.663904       -0.014337        -0.021138
      60-70            0.649944  0.635044       -0.014900        -0.022925
      over 70          0.672024  0.647967       -0.024056        -0.035797
      under 20         0.160000  0.269444        0.109444         0.684028
U     20-30            0.516523  0.530662        0.014139         0.027373
      30-40            0.614729  0.461538       -0.153190        -0.249200
      40-50            0.644554  0.553798       -0.090756        -0.140804
      50-60            0.745432  0.674921       -0.070511        -0.094591
      60-70            0.676537  0.714000        0.037463         0.055374
      over 70          0.806364  0.715315       -0.091048        -0.112912
      under 20         0.559649  0.643590        0.083941         0.149988

In [36]:
bs2_mean_control = df_control.groupby(['gendr', 'age_category'])['BS2'].mean()
bs2_mean_test = df_test.groupby(['gendr', 'age_category'])['BS2'].mean()
bs2_concat = pd.concat([bs2_mean_control, bs2_mean_test], axis=1, join='outer', ignore_index=True)
bs2_concat = bs2_concat.rename(columns={0: 'BS2_control', 1: 'BS2_test'})
bs2_concat['bs2_difference'] = bs2_concat['BS2_test'] - bs2_concat['BS2_control']
bs2_concat['bs2_difference%'] = (bs2_concat['BS2_test'] / bs2_concat['BS2_control'])-1
bs2_concat = bs2_concat.dropna()
# bs2_concat = bs2_concat.groupby(['age_category']).mean()
bs2_concat

                    BS2_control  BS2_test  bs2_difference  bs2_difference%
gendr age_category
F     20-30            0.499234  0.623276        0.124042         0.248465
      30-40            0.506667  0.644118        0.137451         0.271285
      40-50            0.601239  0.720026        0.118787         0.197571
      50-60            0.836963  0.856341        0.019378         0.023152
      60-70            0.884735  0.952744        0.068009         0.076869
      over 70          1.060470  1.005072       -0.055398        -0.052239
      under 20         0.050000  0.529167        0.479167         9.583333
M     20-30            0.468317  0.515517        0.047200         0.100787
      30-40            0.439372  0.495785        0.056413         0.128396
      40-50            0.618866  0.729710        0.110844         0.179109
      50-60            0.807937  0.899517        0.091580         0.113351
      60-70            0.910076  0.960819        0.050743         0.055757
      over 70          1.166438  1.117113       -0.049325        -0.042287
      under 20         0.341667  0.400000        0.058333         0.170732
U     20-30            0.486341  0.527483        0.041142         0.084595
      30-40            0.512003  0.725701        0.213698         0.417376
      40-50            0.680435  0.639769       -0.040666        -0.059764
      50-60            0.755711  0.833504        0.077793         0.102941
      60-70            0.898050  0.949914        0.051864         0.057752
      over 70          0.862418  1.091176        0.228758         0.265252
      under 20         0.662366  0.353571       -0.308794        -0.466199

In [38]:
# Concatinate all means
process_step_means = pd.concat([td_concat, sd_concat, s1_concat, s2_concat, s3_concat, bs1_concat, bs2_concat], axis=1, join='outer', ignore_index=False)
process_step_means

                    TD_control   TD_test  TD_difference  TD_difference%  \
gendr age_category
F     20-30           5.284588  4.884158      -0.400430       -0.075773
      30-40           5.170363  4.871830      -0.298533       -0.057739
      40-50           6.377277  6.132468      -0.244809       -0.038388
      50-60           7.118442  7.319080       0.200637        0.028186
      60-70           7.477143  7.517467       0.040324        0.005393
      over 70         7.881373  7.480607      -0.400765       -0.050850
      under 20        4.852778  6.407971       1.555193        0.320475
M     20-30           4.873219  4.938842       0.065622        0.013466
      30-40           5.367931  4.900284      -0.467647       -0.087119
      40-50           5.875737  5.796816      -0.078921       -0.013432
      50-60           7.166349  7.071899      -0.094450       -0.013180
      60-70           7.862484  7.659217      -0.203268       -0.025853
      over 70         8.734422  8.468985      -0.265437       -0.030390
      under 20        4.561806  4.296795      -0.265011       -0.058093
U     20-30           4.953109  4.876063      -0.077046       -0.015555
      30-40           5.486319  5.285878      -0.200442       -0.036535
      40-50           6.212801  6.091822      -0.120979       -0.019472
      50-60           7.469401  7.339753      -0.129648       -0.017357
      60-70           7.477168  7.326052      -0.151115       -0.020210
      over 70         8.774105  7.027635      -1.746469       -0.199048
      under 20        5.011538  4.824638      -0.186901       -0.037294

                    SD_control   SD_test  SD_difference  SD_difference%  \
gendr age_category
F     20-30           0.581550  0.558258      -0.023292       -0.040052
      30-40           0.580596  0.593639       0.013043        0.022465
      40-50           0.696552  0.693374      -0.003178       -0.004563
      50-60           0.823145  0.815936      -0.007209       -0.008758
      60-70           0.953351  0.884443      -0.068908       -0.072280
      over 70         1.054084  0.974394      -0.079691       -0.075602
      under 20        0.632292  0.749462       0.117171        0.185311
M     20-30           0.527012  0.630473       0.103460        0.196315
      30-40           0.575192  0.641364       0.066172        0.115044
      40-50           0.615032  0.672286       0.057254        0.093091
      50-60           0.831704  0.784079      -0.047625       -0.057262
      60-70           0.962727  0.851963      -0.110764       -0.115052
      over 70         1.192299  1.019612      -0.172687       -0.144835
      under 20        0.805376  0.322381      -0.482995       -0.599714
U     20-30           0.551553  0.578475       0.026922        0.048811
      30-40           0.594913  0.643886       0.048972        0.082319
      40-50           0.696260  0.717618       0.021357        0.030674
      50-60           0.831702  0.759990      -0.071713       -0.086224
      60-70           0.974887  0.874044      -0.100843       -0.103441
      over 70         1.139521  0.922052      -0.217469       -0.190842
      under 20        0.492070  0.593615       0.101545        0.206363

                    S1_control   S1_test  ...  S3_difference  S3_difference%  \
gendr age_category                        ...
F     20-30           0.430788  0.606165  ...      -0.346272       -0.246106
      30-40           0.487122  0.602127  ...      -0.350347       -0.249615
      40-50           0.622612  0.688685  ...      -0.364540       -0.218979
      50-60           0.785624  0.826054  ...      -0.260100       -0.131423
      60-70           0.872416  0.895483  ...      -0.297787       -0.128669
      over 70         0.969466  1.031124  ...      -0.184124       -0.072275
      under 20        0.366667  0.631609  ...      -0.199145       -0.156533
M     20-30           0.443127  0.646589  ...      -0.372591       -0.278666
      30-40           0.468151  0.630447  ...      -0.361126       -0.269711
      40-50           0.657555  0.710967  ...      -0.357985       -0.226640
      50-60           0.770109  0.823087  ...      -0.235984       -0.127851
      60-70           0.902710  0.942018  ...      -0.302172       -0.132207
      over 70         1.061067  1.050881  ...      -0.459255       -0.162743
      under 20        0.300521  0.632895  ...      -0.344345       -0.248817
U     20-30           0.350646  0.641971  ...      -0.436860       -0.312967
      30-40           0.412608  0.630464  ...      -0.417198       -0.288116
      40-50           0.506431  0.666957  ...      -0.284399       -0.173491
      50-60           0.630247  0.830367  ...      -0.395740       -0.188577
      60-70           0.720119  0.900858  ...      -0.394934       -0.167146
      over 70         0.841709  1.018673  ...      -0.263121       -0.102607
      under 20        0.324861  0.709028  ...      -0.592406       -0.375302

                    BS1_control  BS1_test  BS1_difference  BS1_difference%  \
gendr age_category
F     20-30            0.449333  0.492708        0.043375         0.096532
      30-40            0.529344  0.559074        0.029730         0.056164
      40-50            0.512815  0.632756        0.119941         0.233888
      50-60            0.640847  0.618019       -0.022828        -0.035621
      60-70            0.702057  0.654969       -0.047088        -0.067071
      over 70          0.703465  0.597843       -0.105622        -0.150146
      under 20         1.020000  0.568333       -0.451667        -0.442810
M     20-30            0.507037  0.622549        0.115512         0.227818
      30-40            0.442822  0.519459        0.076638         0.173067
      40-50            0.550294  0.517647       -0.032647        -0.059326
      50-60            0.678241  0.663904       -0.014337        -0.021138
      60-70            0.649944  0.635044       -0.014900        -0.022925
      over 70          0.672024  0.647967       -0.024056        -0.035797
      under 20         0.160000  0.269444        0.109444         0.684028
U     20-30            0.516523  0.530662        0.014139         0.027373
      30-40            0.614729  0.461538       -0.153190        -0.249200
      40-50            0.644554  0.553798       -0.090756        -0.140804
      50-60            0.745432  0.674921       -0.070511        -0.094591
      60-70            0.676537  0.714000        0.037463         0.055374
      over 70          0.806364  0.715315       -0.091048        -0.112912
      under 20         0.559649  0.643590        0.083941         0.149988

                    BS2_control  BS2_test  bs2_difference  bs2_difference%
gendr age_category
F     20-30            0.499234  0.623276        0.124042         0.248465
      30-40            0.506667  0.644118        0.137451         0.271285
      40-50            0.601239  0.720026        0.118787         0.197571
      50-60            0.836963  0.856341        0.019378         0.023152
      60-70            0.884735  0.952744        0.068009         0.076869
      over 70          1.060470  1.005072       -0.055398        -0.052239
      under 20         0.050000  0.529167        0.479167         9.583333
M     20-30            0.468317  0.515517        0.047200         0.100787
      30-40            0.439372  0.495785        0.056413         0.128396
      40-50            0.618866  0.729710        0.110844         0.179109
      50-60            0.807937  0.899517        0.091580         0.113351
      60-70            0.910076  0.960819        0.050743         0.055757
      over 70          1.166438  1.117113       -0.049325        -0.042287
      under 20         0.341667  0.400000        0.058333         0.170732
U     20-30            0.486341  0.527483        0.041142         0.084595
      30-40            0.512003  0.725701        0.213698         0.417376
      40-50            0.680435  0.639769       -0.040666        -0.059764
      50-60            0.755711  0.833504        0.077793         0.102941
      60-70            0.898050  0.949914        0.051864         0.057752
      over 70          0.862418  1.091176        0.228758         0.265252
      under 20         0.662366  0.353571       -0.308794        -0.466199

[21 rows x 28 columns]

In [40]:
td_mean_control = df_control.groupby(['age_category'])['TD'].mean()
td_mean_test = df_test.groupby(['age_category'])['TD'].mean()
td_concat = pd.concat([td_mean_control, td_mean_test], axis=1, join='outer', ignore_index=True)
td_concat = td_concat.rename(columns={0: 'TD_control', 1: 'TD_test'})
td_concat['TD_difference'] = td_concat['TD_test'] - td_concat['TD_control']
td_concat['TD_difference%'] = (td_concat['TD_test'] / td_concat['TD_control'])-1
td_concat = td_concat.dropna()
# td_concat = td_concat.groupby(['age_category']).mean()
td_concat

              TD_control   TD_test  TD_difference  TD_difference%
age_category
20-30           4.992639  4.891740      -0.100899       -0.020209
30-40           5.353535  5.033951      -0.319584       -0.059696
40-50           6.144286  5.995371      -0.148914       -0.024236
50-60           7.235888  7.238485       0.002597        0.000359
60-70           7.627348  7.519952      -0.107396       -0.014080
over 70         8.421437  7.832217      -0.589220       -0.069967
under 20        4.911549  4.963008       0.051460        0.010477

In [42]:
test = process_step_means.groupby(['age_category'])['TD_control'].mean()
test

age_category
20-30       5.036972
30-40       5.341538
40-50       6.155272
50-60       7.251398
60-70       7.605598
over 70     8.463300
under 20    4.808707
Name: TD_control, dtype: float64

In [44]:
mean_20_30_TD = df.groupby(['age_category'])['TD'].mean()
mean_20_30_TD

age_category
20-30       4.937014
30-40       5.180451
40-50       6.066068
50-60       7.237217
60-70       7.571735
over 70     8.124338
under 20    4.940550
Name: TD, dtype: float64

In [46]:
# process_step_means.to_csv('process_step_means_groupedbysexandage.csv', index=True)

In [48]:
sd_concat = pd.concat([td_concat, sd_concat, s1_concat, s2_concat, s3_concat, bs1_concat, bs2_concat], axis=1, join='outer', ignore_index=False)