In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

%matplotlib inline

In [4]:
df = pd.read_csv('/Users/maurits/Documents/Ironhack/week_05/gpw5+6/vanguard-ab-test/data/clean/dataset_TVC_MS.csv')

In [5]:
df.head(51)

,Unnamed: 0,client_id,level_1,reached_confirm,went_back,TD,SD,S1,S2,S3,...,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gendr,num_accts,bal,calls_6_mnth,logons_6_mnth,clnt_age_rounded,age_category
0,0,555,reached_confirm,True,NaN,NaN,NaN,NaN,NaN,NaN,...,3.0,46.0,29.5,U,2.0,25454.66,2.0,6.0,30.0,20-30
1,1,555,total_duration_minutes,NaN,NaN,2.633333,NaN,NaN,NaN,NaN,...,3.0,46.0,29.5,U,2.0,25454.66,2.0,6.0,30.0,20-30
2,2,555,step_1_duration,NaN,NaN,NaN,NaN,0.533333,NaN,NaN,...,3.0,46.0,29.5,U,2.0,25454.66,2.0,6.0,30.0,20-30
3,3,555,step_2_duration,NaN,NaN,NaN,NaN,NaN,1.650000,NaN,...,3.0,46.0,29.5,U,2.0,25454.66,2.0,6.0,30.0,20-30
4,4,555,went_back,NaN,False,NaN,NaN,NaN,NaN,NaN,...,3.0,46.0,29.5,U,2.0,25454.66,2.0,6.0,30.0,20-30
5,5,555,step_3_duration,NaN,NaN,NaN,NaN,NaN,NaN,0.333333,...,3.0,46.0,29.5,U,2.0,25454.66,2.0,6.0,30.0,20-30
6,6,555,start_duration,NaN,NaN,NaN,0.116667,NaN,NaN,NaN,...,3.0,46.0,29.5,U,2.0,25454.66,2.0,6.0,30.0,20-30
7,7,647,step_3_duration,NaN,NaN,NaN,NaN,NaN,NaN,2.716667,...,12.0,151.0,57.5,M,2.0,30525.80,0.0,4.0,58.0,50-60
8,8,647,went_back,NaN,False,NaN,NaN,NaN,NaN,NaN,...,12.0,151.0,57.5,M,2.0,30525.80,0.0,4.0,58.0,50-60
9,9,647,total_duration_minutes,NaN,NaN,6.283333,NaN,NaN,NaN,NaN,...,12.0,151.0,57.5,M,2.0,30525.80,0.0,4.0,58.0,50-60
10,10,647,reached_confirm,True,NaN,NaN,NaN,NaN,NaN,NaN,...,12.0,151.0,57.5,M,2.0,30525.80,0.0,4.0,58.0,50-60
11,11,647,step_1_duration,NaN,NaN,NaN,NaN,0.300000,NaN,NaN,...,12.0,151.0,57.5,M,2.0,30525.80,0.0,4.0,58.0,50-60
12,12,647,start_duration,NaN,NaN,NaN,0.116667,NaN,NaN,NaN,...,12.0,151.0,57.5,M,2.0,30525.80,0.0,4.0,58.0,50-60
13,13,647,step_2_duration,NaN,NaN,NaN,NaN,NaN,3.150000,NaN,...,12.0,151.0,57.5,M,2.0,30525.80,0.0,4.0,58.0,50-60
14,14,934,start_duration,NaN,NaN,NaN,2.366667,NaN,NaN,NaN,...,9.0,109.0,51.0,F,2.0,32522.88,0.0,3.0,51.0,50-60
15,15,934,went_back,NaN,False,NaN,NaN,NaN,NaN,NaN,...,9.0,109.0,51.0,F,2.0,32522.88,0.0,3.0,51.0,50-60
16,16,934,reached_confirm,False,NaN,NaN,NaN,NaN,NaN,NaN,...,9.0,109.0,51.0,F,2.0,32522.88,0.0,3.0,51.0,50-60
17,17,1028,step_3_duration,NaN,NaN,NaN,NaN,NaN,NaN,1.850000,...,12.0,145.0,36.0,M,3.0,103520.22,1.0,4.0,36.0,30-40
18,18,1028,went_back,NaN,True,NaN,NaN,NaN,NaN,NaN,...,12.0,145.0,36.0,M,3.0,103520.22,1.0,4.0,36.0,30-40
19,19,1028,backtrack_to_step_1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,12.0,145.0,36.0,M,3.0,103520.22,1.0,4.0,36.0,30-40
20,20,1028,backtrack_to_step_2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,12.0,145.0,36.0,M,3.0,103520.22,1.0,4.0,36.0,30-40
21,21,1028,start_duration,NaN,NaN,NaN,0.816667,NaN,NaN,NaN,...,12.0,145.0,36.0,M,3.0,103520.22,1.0,4.0,36.0,30-40
22,22,1028,step_1_duration,NaN,NaN,NaN,NaN,1.566667,NaN,NaN,...,12.0,145.0,36.0,M,3.0,103520.22,1.0,4.0,36.0,30-40
23,23,1028,reached_confirm,False,NaN,NaN,NaN,NaN,NaN,NaN,...,12.0,145.0,36.0,M,3.0,103520.22,1.0,4.0,36.0,30-40
24,24,1104,reached_confirm,False,NaN,NaN,NaN,NaN,NaN,NaN,...,5.0,66.0,48.0,U,3.0,154643.94,6.0,9.0,48.0,40-50
25,25,1104,went_back,NaN,False,NaN,NaN,NaN,NaN,NaN,...,5.0,66.0,48.0,U,3.0,154643.94,6.0,9.0,48.0,40-50
26,26,1186,went_back,NaN,False,NaN,NaN,NaN,NaN,NaN,...,8.0,99.0,22.0,U,2.0,31662.52,0.0,3.0,22.0,20-30
27,27,1186,reached_confirm,False,NaN,NaN,NaN,NaN,NaN,NaN,...,8.0,99.0,22.0,U,2.0,31662.52,0.0,3.0,22.0,20-30
28,28,1186,step_1_duration,NaN,NaN,NaN,NaN,0.183333,NaN,NaN,...,8.0,99.0,22.0,U,2.0,31662.52,0.0,3.0,22.0,20-30
29,29,1195,start_duration,NaN,NaN,NaN,0.550000,NaN,NaN,NaN,...,21.0,262.0,54.5,M,2.0,28457.96,2.0,5.0,54.0,50-60
30,30,1195,total_duration_minutes,NaN,NaN,4.083333,NaN,NaN,NaN,NaN,...,21.0,262.0,54.5,M,2.0,28457.96,2.0,5.0,54.0,50-60
31,31,1195,step_2_duration,NaN,NaN,NaN,NaN,NaN,0.516667,NaN,...,21.0,262.0,54.5,M,2.0,28457.96,2.0,5.0,54.0,50-60
32,32,1195,step_1_duration,NaN,NaN,NaN,NaN,1.633333,NaN,NaN,...,21.0,262.0,54.5,M,2.0,28457.96,2.0,5.0,54.0,50-60
33,33,1195,reached_confirm,True,NaN,NaN,NaN,NaN,NaN,NaN,...,21.0,262.0,54.5,M,2.0,28457.96,2.0,5.0,54.0,50-60
34,34,1195,step_3_duration,NaN,NaN,NaN,NaN,NaN,NaN,1.383333,...,21.0,262.0,54.5,M,2.0,28457.96,2.0,5.0,54.0,50-60
35,35,1195,went_back,NaN,False,NaN,NaN,NaN,NaN,NaN,...,21.0,262.0,54.5,M,2.0,28457.96,2.0,5.0,54.0,50-60
36,36,1197,went_back,NaN,True,NaN,NaN,NaN,NaN,NaN,...,7.0,85.0,28.5,U,5.0,177062.14,5.0,8.0,28.0,20-30
37,37,1197,step_1_duration,NaN,NaN,NaN,NaN,0.100000,NaN,NaN,...,7.0,85.0,28.5,U,5.0,177062.14,5.0,8.0,28.0,20-30
38,38,1197,total_duration_minutes,NaN,NaN,1.583333,NaN,NaN,NaN,NaN,...,7.0,85.0,28.5,U,5.0,177062.14,5.0,8.0,28.0,20-30
39,39,1197,backtrack_to_step_2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7.0,85.0,28.5,U,5.0,177062.14,5.0,8.0,28.0,20-30
40,40,1197,start_duration,NaN,NaN,NaN,0.066667,NaN,NaN,NaN,...,7.0,85.0,28.5,U,5.0,177062.14,5.0,8.0,28.0,20-30
41,41,1197,step_2_duration,NaN,NaN,NaN,NaN,NaN,0.950000,NaN,...,7.0,85.0,28.5,U,5.0,177062.14,5.0,8.0,28.0,20-30
42,42,1197,step_3_duration,NaN,NaN,NaN,NaN,NaN,NaN,0.466667,...,7.0,85.0,28.5,U,5.0,177062.14,5.0,8.0,28.0,20-30
43,43,1197,reached_confirm,True,NaN,NaN,NaN,NaN,NaN,NaN,...,7.0,85.0,28.5,U,5.0,177062.14,5.0,8.0,28.0,20-30
44,44,1336,reached_confirm,True,NaN,NaN,NaN,NaN,NaN,NaN,...,48.0,576.0,42.0,M,4.0,130537.18,6.0,9.0,42.0,40-50
45,45,1336,step_1_duration,NaN,NaN,NaN,NaN,0.433333,NaN,NaN,...,48.0,576.0,42.0,M,4.0,130537.18,6.0,9.0,42.0,40-50
46,46,1336,step_3_duration,NaN,NaN,NaN,NaN,NaN,NaN,1.816667,...,48.0,576.0,42.0,M,4.0,130537.18,6.0,9.0,42.0,40-50
47,47,1336,start_duration,NaN,NaN,NaN,0.416667,NaN,NaN,NaN,...,48.0,576.0,42.0,M,4.0,130537.18,6.0,9.0,42.0,40-50
48,48,1336,step_2_duration,NaN,NaN,NaN,NaN,NaN,0.850000,NaN,...,48.0,576.0,42.0,M,4.0,130537.18,6.0,9.0,42.0,40-50
49,49,1336,went_back,NaN,False,NaN,NaN,NaN,NaN,NaN,...,48.0,576.0,42.0,M,4.0,130537.18,6.0,9.0,42.0,40-50
50,50,1346,start_duration,NaN,NaN,NaN,2.650000,NaN,NaN,NaN,...,14.0,177.0,46.0,F,2.0,822512.91,3.0,6.0,46.0,40-50

In [8]:
df.columns

Index(['Unnamed: 0', 'client_id', 'level_1', 'reached_confirm', 'went_back',
       'TD', 'SD', 'S1', 'S2', 'S3', 'BS', 'BS1', 'BS2', 'Variation',
       'clnt_tenure_yr', 'clnt_tenure_mnth', 'clnt_age', 'gendr', 'num_accts',
       'bal', 'calls_6_mnth', 'logons_6_mnth', 'clnt_age_rounded',
       'age_category'],
      dtype='object')

Find means of all process steps (control and test separately) Maurits
group by all
Group by sex
group by age group
group by ...

Find which steps cause most errors and for how long Maurits
group by all
Group by sex
group by age group
group by whatever

In [11]:
td_mean_control_all = df.groupby(['Variation'])['TD'].mean()
td_mean_control_all = df.groupby(['Variation', 'gendr'])['TD'].mean()
td_mean_control_all = df.groupby(['Variation', 'gendr', 'age_category'])['TD'].mean()

In [13]:
df_control = df[df['Variation'] == 'Control']
df_test = df[df['Variation'] == 'Test']

In [16]:
size2030 = df.groupby(['age_category', 'Variation']).nunique()
size2030

                        Unnamed: 0  client_id  level_1  reached_confirm  \
age_category Variation
20-30        Control         21604       3724        9                2
             Test            25590       4335        9                2
30-40        Control         25303       4416        9                2
             Test            30342       5257        9                2
40-50        Control         23000       4026        9                2
             Test            26835       4641        9                2
50-60        Control         29062       5208        9                2
             Test            33130       5850        9                2
60-70        Control         23537       4305        9                2
             Test            27071       4822        9                2
over 70      Control          8006       1636        9                2
             Test             9298       1795        9                2
under 20     Control          1270        211        9                2
             Test             1589        261        9                2

                        went_back   TD   SD   S1   S2   S3  ...  BS2  \
age_category Variation                                      ...
20-30        Control            2  645  284  198  325  361  ...  121
             Test               2  692  348  246  303  319  ...   94
30-40        Control            2  719  312  204  347  373  ...  113
             Test               2  740  364  255  335  327  ...  102
40-50        Control            2  733  307  218  346  372  ...  138
             Test               2  795  388  256  340  350  ...  123
50-60        Control            2  907  360  249  373  434  ...  178
             Test               2  957  429  274  383  446  ...  187
60-70        Control            2  842  349  247  331  415  ...  185
             Test               2  882  406  253  374  427  ...  205
over 70      Control            2  440  263  192  228  314  ...  123
             Test               2  437  286  210  265  337  ...  138
under 20     Control            2  113   71   54  107  102  ...   26
             Test               2  132   78   94  128   94  ...   17

                        clnt_tenure_yr  clnt_tenure_mnth  clnt_age  gendr  \
age_category Variation
20-30        Control                35               314        20      3
             Test                   35               317        20      4
30-40        Control                37               296        20      3
             Test                   38               309        20      3
40-50        Control                37               311        20      3
             Test                   38               318        20      4
50-60        Control                38               377        20      3
             Test                   39               377        20      3
60-70        Control                43               404        20      3
             Test                   44               402        20      3
over 70      Control                46               372        49      3
             Test                   43               375        51      3
under 20     Control                21                84         6      3
             Test                   24               110         6      3

                        num_accts   bal  calls_6_mnth  logons_6_mnth  \
age_category Variation
20-30        Control            4  3722             7              7
             Test               6  4330             7              7
30-40        Control            5  4412             7              7
             Test               7  5255             7              7
40-50        Control            5  4024             7              7
             Test               5  4638             7              7
50-60        Control            6  5206             7              7
             Test               6  5847             7              7
60-70        Control            6  4301             7              7
             Test               5  4820             7              7
over 70      Control            4  1636             7              7
             Test               5  1794             7              7
under 20     Control            3   211             7              7
             Test               3   261             7              7

                        clnt_age_rounded
age_category Variation
20-30        Control                  11
             Test                     11
30-40        Control                  11
             Test                     11
40-50        Control                  11
             Test                     11
50-60        Control                  11
             Test                     11
60-70        Control                  11
             Test                     11
over 70      Control                  26
             Test                     26
under 20     Control                   4
             Test                      4

[14 rows x 22 columns]

In [18]:
# Count of completion COMPLETION
clientid_count_control = df_control.groupby(['age_category'])['client_id'].nunique()
clientid_count_test = df_test.groupby(['age_category'])['client_id'].nunique()
td_count_control = df_control.groupby(['age_category'])['TD'].count()
td_count_test = df_test.groupby(['age_category'])['TD'].count()
td_concat = pd.concat([clientid_count_control, clientid_count_test, td_count_control, td_count_test], axis=1, join='outer', ignore_index=True)
td_concat = td_concat.rename(columns={0: 'size_control', 1: 'size_test', 2: 'completed_control', 3: 'completed_test'})
td_concat['completion_rate_control'] = td_concat['completed_control']/td_concat['size_control']
td_concat['completion_rate_test'] = td_concat['completed_test']/td_concat['size_test']
td_concat['relative_performance'] = td_concat['completion_rate_test'] / td_concat['completion_rate_control']-1
td_concat.insert(0, 'step_category', 'completion')

td_concat

# We can observe by the relative performance that the new UI impacted young groups positively, yet older age groups have a lower performance on completion due to the new UI.

,step_category,size_control,size_test,completed_control,completed_test,completion_rate_control,completion_rate_test,relative_performance
age_category,,,,,,,,
20-30,completion,3724,4335,2117,2601,0.568475,0.600000,0.055456
30-40,completion,4416,5257,2513,2969,0.569067,0.564771,-0.007550
40-50,completion,4026,4641,2275,2517,0.565077,0.542340,-0.040237
50-60,completion,5208,5850,2720,2850,0.522273,0.487179,-0.067195
60-70,completion,4305,4822,2055,2207,0.477352,0.457694,-0.041181
over 70,completion,1636,1795,587,597,0.358802,0.332591,-0.073053
under 20,completion,211,261,127,164,0.601896,0.628352,0.043956

In [20]:
# td_concat.to_csv('count_completion.csv', index=True)

In [22]:
# Count of completion START
clientid_count_control = df_control.groupby(['age_category'])['client_id'].nunique()
clientid_count_test = df_test.groupby(['age_category'])['client_id'].nunique()
sd_count_control = df_control.groupby(['age_category'])['SD'].count()
sd_count_test = df_test.groupby(['age_category'])['SD'].count()
sd_concat = pd.concat([clientid_count_control, clientid_count_test, sd_count_control, sd_count_test], axis=1, join='outer', ignore_index=True)
sd_concat = sd_concat.rename(columns={0: 'size_control', 1: 'size_test', 2: 'completed_control', 3: 'completed_test'})
sd_concat['completion_rate_control'] = sd_concat['completed_control']/sd_concat['size_control']
sd_concat['completion_rate_test'] = sd_concat['completed_test']/sd_concat['size_test']
sd_concat['relative_performance'] = sd_concat['completion_rate_test'] / sd_concat['completion_rate_control']-1
sd_concat.insert(0, 'step_category', 'start_to_step1')
sd_concat

,step_category,size_control,size_test,completed_control,completed_test,completion_rate_control,completion_rate_test,relative_performance
age_category,,,,,,,,
20-30,start_to_step1,3724,4335,2977,3653,0.799409,0.842676,0.054123
30-40,start_to_step1,4416,5257,3470,4331,0.785779,0.823854,0.048455
40-50,start_to_step1,4026,4641,3089,3802,0.767263,0.819220,0.067718
50-60,start_to_step1,5208,5850,3835,4480,0.736367,0.765812,0.039987
60-70,start_to_step1,4305,4822,3012,3573,0.699652,0.740979,0.059068
over 70,start_to_step1,1636,1795,1028,1242,0.628362,0.691922,0.101152
under 20,start_to_step1,211,261,171,220,0.810427,0.842912,0.040084

In [24]:
# Count of completion S1
previous_step_count_control = df_control.groupby(['age_category'])['SD'].count() #make sure to change this to previous step
previous_step_count_test = df_test.groupby(['age_category'])['SD'].count()
s1_count_control = df_control.groupby(['age_category'])['S1'].count()
s1_count_test = df_test.groupby(['age_category'])['S1'].count()
s1_concat = pd.concat([previous_step_count_control, previous_step_count_test, s1_count_control, s1_count_test], axis=1, join='outer', ignore_index=True)
s1_concat = s1_concat.rename(columns={0: 'size_control', 1: 'size_test', 2: 'completed_control', 3: 'completed_test'})
s1_concat['completion_rate_control'] = s1_concat['completed_control']/s1_concat['size_control']
s1_concat['completion_rate_test'] = s1_concat['completed_test']/s1_concat['size_test']
s1_concat['relative_performance'] = s1_concat['completion_rate_test'] / s1_concat['completion_rate_control']-1
s1_concat.insert(0, 'step_category', 'step1_to_step2') # change this parameter too
s1_concat

,step_category,size_control,size_test,completed_control,completed_test,completion_rate_control,completion_rate_test,relative_performance
age_category,,,,,,,,
20-30,step1_to_step2,2977,3653,2910,3389,0.977494,0.927731,-0.050909
30-40,step1_to_step2,3470,4331,3406,4043,0.981556,0.933503,-0.048956
40-50,step1_to_step2,3089,3802,3034,3509,0.982195,0.922935,-0.060334
50-60,step1_to_step2,3835,4480,3803,4230,0.991656,0.944196,-0.047859
60-70,step1_to_step2,3012,3573,2979,3340,0.989044,0.934789,-0.054856
over 70,step1_to_step2,1028,1242,954,1085,0.928016,0.873591,-0.058646
under 20,step1_to_step2,171,220,169,211,0.988304,0.959091,-0.029559

In [26]:
# Count of completion S2
previous_step_count_control = df_control.groupby(['age_category'])['S1'].count() #make sure to change this to previous step
previous_step_count_test = df_test.groupby(['age_category'])['S1'].count()
s2_count_control = df_control.groupby(['age_category'])['S2'].count()
s2_count_test = df_test.groupby(['age_category'])['S2'].count()
s2_concat = pd.concat([previous_step_count_control, previous_step_count_test, s2_count_control, s2_count_test], axis=1, join='outer', ignore_index=True)
s2_concat = s2_concat.rename(columns={0: 'size_control', 1: 'size_test', 2: 'completed_control', 3: 'completed_test'})
s2_concat['completion_rate_control'] = s2_concat['completed_control']/s2_concat['size_control']
s2_concat['completion_rate_test'] = s2_concat['completed_test']/s2_concat['size_test']
s2_concat['relative_performance'] = s2_concat['completion_rate_test'] / s2_concat['completion_rate_control']-1
s2_concat.insert(0, 'step_category', 'step2_to_step3') # change this parameter too
s2_concat

,step_category,size_control,size_test,completed_control,completed_test,completion_rate_control,completion_rate_test,relative_performance
age_category,,,,,,,,
20-30,step2_to_step3,2910,3389,2618,3312,0.899656,0.977279,0.086281
30-40,step2_to_step3,3406,4043,3105,3942,0.911627,0.975019,0.069537
40-50,step2_to_step3,3034,3509,2806,3487,0.924852,0.993730,0.074475
50-60,step2_to_step3,3803,4230,3544,4237,0.931896,1.001655,0.074857
60-70,step2_to_step3,2979,3340,3078,3694,1.033233,1.105988,0.070415
over 70,step2_to_step3,954,1085,1012,1222,1.060797,1.126267,0.061718
under 20,step2_to_step3,169,211,152,207,0.899408,0.981043,0.090765

In [28]:
# Count of completion s3
previous_step_count_control = df_control.groupby(['age_category'])['S2'].count() #make sure to change this to previous step
previous_step_count_test = df_test.groupby(['age_category'])['S2'].count()
s3_count_control = df_control.groupby(['age_category'])['S3'].count()
s3_count_test = df_test.groupby(['age_category'])['S3'].count()
s3_concat = pd.concat([previous_step_count_control, previous_step_count_test, s3_count_control, s3_count_test], axis=1, join='outer', ignore_index=True)
s3_concat = s3_concat.rename(columns={0: 'size_control', 1: 'size_test', 2: 'completed_control', 3: 'completed_test'})
s3_concat['completion_rate_control'] = s3_concat['completed_control']/s3_concat['size_control']
s3_concat['completion_rate_test'] = s3_concat['completed_test']/s3_concat['size_test']
s3_concat['relative_performance'] = s3_concat['completion_rate_test'] / s3_concat['completion_rate_control']-1
s3_concat.insert(0, 'step_category', 'step3_to_confirm') # change this parameter too
s3_concat

,step_category,size_control,size_test,completed_control,completed_test,completion_rate_control,completion_rate_test,relative_performance
age_category,,,,,,,,
20-30,step3_to_confirm,2618,3312,2424,3179,0.925898,0.959843,0.036662
30-40,step3_to_confirm,3105,3942,2848,3661,0.917230,0.928716,0.012523
40-50,step3_to_confirm,2806,3487,2614,3226,0.931575,0.925151,-0.006897
50-60,step3_to_confirm,3544,4237,3135,3820,0.884594,0.901581,0.019204
60-70,step3_to_confirm,3078,3694,2360,2973,0.766732,0.804819,0.049674
over 70,step3_to_confirm,1012,1222,683,876,0.674901,0.716858,0.062167
under 20,step3_to_confirm,152,207,146,204,0.960526,0.985507,0.026008

In [30]:
concatinated = pd.concat([td_concat, sd_concat, s1_concat, s2_concat, s3_concat], axis=0, join='outer', ignore_index=False)
concatinated

,step_category,size_control,size_test,completed_control,completed_test,completion_rate_control,completion_rate_test,relative_performance
age_category,,,,,,,,
20-30,completion,3724,4335,2117,2601,0.568475,0.600000,0.055456
30-40,completion,4416,5257,2513,2969,0.569067,0.564771,-0.007550
40-50,completion,4026,4641,2275,2517,0.565077,0.542340,-0.040237
50-60,completion,5208,5850,2720,2850,0.522273,0.487179,-0.067195
60-70,completion,4305,4822,2055,2207,0.477352,0.457694,-0.041181
over 70,completion,1636,1795,587,597,0.358802,0.332591,-0.073053
under 20,completion,211,261,127,164,0.601896,0.628352,0.043956
20-30,start_to_step1,3724,4335,2977,3653,0.799409,0.842676,0.054123
30-40,start_to_step1,4416,5257,3470,4331,0.785779,0.823854,0.048455
40-50,start_to_step1,4026,4641,3089,3802,0.767263,0.819220,0.067718
50-60,start_to_step1,5208,5850,3835,4480,0.736367,0.765812,0.039987
60-70,start_to_step1,4305,4822,3012,3573,0.699652,0.740979,0.059068
over 70,start_to_step1,1636,1795,1028,1242,0.628362,0.691922,0.101152
under 20,start_to_step1,211,261,171,220,0.810427,0.842912,0.040084
20-30,step1_to_step2,2977,3653,2910,3389,0.977494,0.927731,-0.050909
30-40,step1_to_step2,3470,4331,3406,4043,0.981556,0.933503,-0.048956
40-50,step1_to_step2,3089,3802,3034,3509,0.982195,0.922935,-0.060334
50-60,step1_to_step2,3835,4480,3803,4230,0.991656,0.944196,-0.047859
60-70,step1_to_step2,3012,3573,2979,3340,0.989044,0.934789,-0.054856
over 70,step1_to_step2,1028,1242,954,1085,0.928016,0.873591,-0.058646
under 20,step1_to_step2,171,220,169,211,0.988304,0.959091,-0.029559
20-30,step2_to_step3,2910,3389,2618,3312,0.899656,0.977279,0.086281
30-40,step2_to_step3,3406,4043,3105,3942,0.911627,0.975019,0.069537
40-50,step2_to_step3,3034,3509,2806,3487,0.924852,0.993730,0.074475
50-60,step2_to_step3,3803,4230,3544,4237,0.931896,1.001655,0.074857
60-70,step2_to_step3,2979,3340,3078,3694,1.033233,1.105988,0.070415
over 70,step2_to_step3,954,1085,1012,1222,1.060797,1.126267,0.061718
under 20,step2_to_step3,169,211,152,207,0.899408,0.981043,0.090765
20-30,step3_to_confirm,2618,3312,2424,3179,0.925898,0.959843,0.036662
30-40,step3_to_confirm,3105,3942,2848,3661,0.917230,0.928716,0.012523
40-50,step3_to_confirm,2806,3487,2614,3226,0.931575,0.925151,-0.006897
50-60,step3_to_confirm,3544,4237,3135,3820,0.884594,0.901581,0.019204
60-70,step3_to_confirm,3078,3694,2360,2973,0.766732,0.804819,0.049674
over 70,step3_to_confirm,1012,1222,683,876,0.674901,0.716858,0.062167
under 20,step3_to_confirm,152,207,146,204,0.960526,0.985507,0.026008

In [32]:
# concatinated.to_csv('step_counts_groupedbyage.csv', index=True)

In [34]:
grouped = concatinated.groupby(['step_category']).sum()

In [36]:
grouped

,size_control,size_test,completed_control,completed_test,completion_rate_control,completion_rate_test,relative_performance
step_category,,,,,,,
completion,23526,26961,12394,13905,3.662942,3.612927,-0.129804
start_to_step1,23526,26961,17582,21301,5.227258,5.527374,0.410587
step1_to_step2,17582,21301,17255,19807,6.838264,6.495836,-0.351120
step2_to_step3,17255,19807,16315,20101,6.661468,7.160981,0.528049
step3_to_confirm,16315,20101,14210,17939,6.061456,6.222475,0.199341

In [38]:
grouped.drop(columns=['completion_rate_control','completion_rate_test','relative_performance'])

                  size_control  size_test  completed_control  completed_test
step_category
completion               23526      26961              12394           13905
start_to_step1           23526      26961              17582           21301
step1_to_step2           17582      21301              17255           19807
step2_to_step3           17255      19807              16315           20101
step3_to_confirm         16315      20101              14210           17939

In [40]:
grouped['completion_rate_control'] = grouped['completed_control']/grouped['size_control']
grouped['completion_rate_test'] = grouped['completed_test']/grouped['size_test']
grouped['relative_performance'] = grouped['completion_rate_test'] / grouped['completion_rate_control']-1
grouped

,size_control,size_test,completed_control,completed_test,completion_rate_control,completion_rate_test,relative_performance
step_category,,,,,,,
completion,23526,26961,12394,13905,0.526821,0.515745,-0.021025
start_to_step1,23526,26961,17582,21301,0.747343,0.790067,0.057168
step1_to_step2,17582,21301,17255,19807,0.981401,0.929862,-0.052516
step2_to_step3,17255,19807,16315,20101,0.945523,1.014843,0.073314
step3_to_confirm,16315,20101,14210,17939,0.870978,0.892443,0.024645

In [42]:
# grouped.to_csv('step_counts_groupedbycategory.csv', index=True)

In [46]:
clientid_count_control = df_control.groupby(['age_category'])['client_id'].nunique()
clientid_count_test = df_test.groupby(['age_category'])['client_id'].nunique()
sd_count_control = df_control.groupby(['age_category'])['SD'].count()
sd_count_test = df_test.groupby(['age_category'])['SD'].count()
s1_count_control = df_control.groupby(['age_category'])['S1'].count()
s1_count_test = df_test.groupby(['age_category'])['S1'].count()
s2_count_control = df_control.groupby(['age_category'])['S2'].count()
s2_count_test = df_test.groupby(['age_category'])['S2'].count()
s3_count_control = df_control.groupby(['age_category'])['S3'].count()
s3_count_test = df_test.groupby(['age_category'])['S3'].count()
td_count_control = df_control.groupby(['age_category'])['TD'].count()
td_count_test = df_test.groupby(['age_category'])['TD'].count()

count_concat = pd.concat([clientid_count_control, clientid_count_test, sd_count_control, sd_count_test, s1_count_control, s1_count_test, s2_count_control, s2_count_test, s3_count_control, s3_count_test, td_count_control, td_count_test], axis=1, join='outer', ignore_index=True)
count_concat = count_concat.rename(columns={0: 'size_control', 1: 'size_test', 2: 'start_control', 3: 'start_test', 4: 'step1_control', 5: 'step1_test', 6: 'step2_control', 7: 'step2_test', 8: 'step3_control', 9: 'step3_test', 10: 'completed_control', 11: 'completed_test'})
count_concat
# td_concat['completion_rate_control'] = td_concat['completed_control']/td_concat['size_control']
# td_concat['completion_rate_test'] = td_concat['completed_test']/td_concat['size_test']
# td_concat['relative_performance'] = td_concat['completion_rate_test'] / td_concat['completion_rate_control']
# td_concat

,size_control,size_test,start_control,start_test,step1_control,step1_test,step2_control,step2_test,step3_control,step3_test,completed_control,completed_test
age_category,,,,,,,,,,,,
20-30,3724,4335,2977,3653,2910,3389,2618,3312,2424,3179,2117,2601
30-40,4416,5257,3470,4331,3406,4043,3105,3942,2848,3661,2513,2969
40-50,4026,4641,3089,3802,3034,3509,2806,3487,2614,3226,2275,2517
50-60,5208,5850,3835,4480,3803,4230,3544,4237,3135,3820,2720,2850
60-70,4305,4822,3012,3573,2979,3340,3078,3694,2360,2973,2055,2207
over 70,1636,1795,1028,1242,954,1085,1012,1222,683,876,587,597
under 20,211,261,171,220,169,211,152,207,146,204,127,164